[2010-02-11 09:32] yaoweizhen opened #1 "[Help] please help to improve javascript indent"
I create a picture
http://picasaweb.google.com/yaoweizhen/HxfMqJ?authkey=Gv1sRgCLi-5JL0m6rg3wE#5436915599151982914

Please look at the highlight brace. I haven't find perfect javascript indent extension of VIM.

Thanks

mikeyao
mikeyao2@gmail.com

[2010-08-25 05:28] furtivefelon opened #2 "an improvement to the formatting code"
Hey, i've made some changes to the following line, haven't installed git yet, so i just made the change and hope that you will merge it in.

The case is as follows:
`var y = a / b / c; // will identify / b / as regular expression, which is just wrong`
I've modified it so that only this will be identified:
`var y = / a /;`

The relevant line change and comment is as follows:
"regexp, basically only

[2010-08-25 06:57] #2 closed, assigned to nobody

[2010-11-21 10:36] mcollina opened #3 "Indent correctly multiple variable assigns."
Your proposed vim indent script doesn't indent correctly the following block:
    var fs = require('fs'),
        path = require('path');

Which it indent to:
    var fs = require('fs'),
    path = require('path');

[2010-12-10 13:43] artm opened #4 "multiline function calls confuse the indenter"
sometimes I have several longish arguments/expressions to a function call so I want to break the function call into something like (manually formatted):

[code]

the following is formatted with 'gg=G' with vim-javascript indenter:

[code]

I'd be happy to help changing the indenter, but I'm lost in the script, could you explain the logic behind it?

[2010-12-11 04:39] #4 closed, assigned to nobody

[2011-02-14 21:02] wavded opened #5 "javascript documentation"
http://code.google.com/p/jsdoc-toolkit/wiki/TagReference

Seems as though the syntax files supports some of these doc tags.  I'm wondering if it could support all of them?  This seems to be the standard for JS documentation.  If you want I can implement and give you a pull request if you are interested.

[2011-02-23 14:02] #5 closed, assigned to nobody

[2011-03-15 15:00] adwinsky opened #10 "Changing an indent size"
Many jQuery plugins use 8 spaces instead of 2.
Is there any way to change an indent size using this plugin?
Its seems like a:

_autocmd Filetype javascript setlocal ts=8 sts=8 sw=8_

is being ignored since i use your plugin.

thanks

[2011-03-15 23:49] #10 closed, assigned to nobody

[2011-03-15 23:50] #1 closed, assigned to nobody

[2011-04-12 04:15] tanob opened #12 "Indentation problem with colon and slashes"
If you try to indent the following snippet you will get the 2nd line indented:

<pre>
f('://');
e();
</pre>

[2011-05-02 21:46] wavded opened #14 "couple indentation issues (switch statements and multiline strings)"
I noticed a couple indentation issues.

[code]

In this example `break` isn't aligned with case, it seems only the first line gets indented properly.  Also `case 3` and `default` get indented in when they should be all the same indent level.

[code]

In this example, nothing gets indented.  It would either be nice to indent one level or indent up to the quote (').

I don't know if I'm up to vim pa

[2011-05-16 01:25] #12 closed, assigned to nobody

[2011-05-18 02:24] braddunbar opened #17 "Regular Expression Syntax Issue"
The following snippet causes syntax highlighting to be broken:

[code]

The quotes in the regular expression seem to be interpreted as the beginning of a string literal.

[2011-05-22 20:12] #17 closed, assigned to nobody

[2011-06-09 13:05] nornagon opened #19 "Continuations of multiline comments are incorrectly indented"
If you type a `/*`, then press enter, the `*` to mark continuation is indented to match the `/`, not the `*`.

Desired behaviour:

[code]

Actual behaviour:

[code]

[2011-06-13 15:20] tpope opened #20 "Syntax file adjusts folding settings"
The syntax file adjusts `'foldmethod'` and `'foldlevel'`, which is way out line with what a syntax file should be adjusting.

I realize the repo is merely vendoring a syntax file from a different maintainer, but I am reporting it here anyways because it's unfortunate I can't use such an awesome indenting algorithm without being subjected to such a huge regression.

[2011-06-14 02:44] #20 closed, assigned to nobody

[2011-06-15 03:27] pangloss opened #23 "Commit access to all accepted contributors?"
Several people have submitted good changes to this project lately. Rather than me continuing to act as gatekeeper, I'd be happy to open up commit rights to everyone who submits an accepted patch. Does anyone have any thoughts either way on the subject?

Regards,
Darrick

[2011-06-29 19:04] gavinwahl opened #24 "Line after a function being passed arguments on multiple lines is indented too far"
When passing a function's arguments on multiple lines, the arguments are indented correctly but the line following the call keeps the extra indentation.

Actual:

[code]

Expected:

[code]

[2011-07-31 17:28] phildarnowsky opened #26 "Hash closed on same line it's opened shouldn't de-indent"
I'm working through some backbone.js examples, and there's a chunk like:

[code]

But the line marked "problem line" de-indents when I type the closing curly to close off that hash, so it ends up as:

[code]

I could break the hash up over several lines, and it does what you'd expect:

[code]

But now I've got three lines of code instead of one.

[2011-08-09 13:24] jumoel opened #27 "Wrong indenting when curly braces are on a new line"
When the curly braces are on a new line, the indenting is wrong.

Expected result:

[code]

Actual result:

[code]

[2011-08-10 06:00] #27 closed, assigned to nobody

[2011-08-10 06:31] #19 closed, assigned to nobody

[2011-09-07 23:17] shazow opened #28 "Multi-line comment block doesn't de-indent completely when closed"
In insert mode (cursor is `_`):

[code]

Cursor ends indented by one character. Cursor should end on the original indent column (one character left, where the first / is).

[2011-09-07 23:24] shazow opened #29 "Lost indent on second multiline /* comment block within 1+ indent scopes"
When opening a multiline /\* comment block within an indented scope, the next line doesn't maintain the same indent level.

In insert mode (cursor denoted as `_`):

[code]

Pressing `<Enter>` now yields:

[code]

Instead, it should be:

[code]

Settings:

[code]

[2011-09-08 04:16] qingbo opened #30 "Indentation follows previous function call parentheses if its argments span multiple lines"
Example:

[code]

[2011-10-19 09:32] connrs opened #32 "setlocal iskeyword+=$ applied to php filetypes"
My knowledge of plugin development is limited but I've tried to work a solution out before posting this issue:

After digging around, I've discovered that Vim, by default, sources syntax/html.vim which, by default, sources syntax/javascript.vim when you edit a PHP document. This isn't actually a problem except for [line 28 of syntax/javascript.vim](https://github.com/pangloss/vim-javascript/blob/m

[2011-11-21 10:20] wmertens opened #34 "multiline var statements not indented"
I'm trying to follow the rules that JSLint has, and something like

[code]

gets indented as

[code]

which JSLint doesn't like.

I may also be doing something wrong of course.

[2011-11-24 19:32] chiel opened #35 "Don't override foldmethod"
Hello,

I really like this plugin, but I have thing that annoys me about it, which is that it ALWAYS sets a foldmethod. Wouldn't it be better to check if a foldmethod is already set, and if so not do anything?

Just my $0,02.

Thanks,
Chiel

[2011-12-04 20:08] MSch opened #36 "Improve indentation of multi line statements"
Indenting this works as expected

[code]

this doesn't.

[code]

Can someone point me in the right direction so I can fix it?

[2012-01-18 05:57] jskulski opened #38 "Fold comments in with function"
I'm trying to get folds to include comments with the function fold, so that:

// Quick unction description
function() {
//...
}

/*\*
- Longer description here
  */
  function() { ... }

are folded into

 -+-    function() {  ....  }  |  Longer  description here... ------

I know how to set the foldtext, but I'm having trouble overriding the fold definition to include both. I'm new to vimscript an

[2012-01-23 02:52] emberian opened #39 "Push changes to http://www.vim.org/scripts/script.php?script_id=2765"
It's been two years, time for an update methinks?

[2012-01-26 19:47] e0da opened #40 "When re-indenting with =, multi-line comment opener and closer de-indent"
Code that looks like this and was properly formatted when typed (starting at column 1, then at column 7):

[code]

Looks like this if you highlight it and press `=`:

[code]

[2012-02-12 17:56] #29 closed, assigned to nobody

[2012-02-12 17:56] #28 closed, assigned to nobody

[2012-02-13 01:01] #40 closed, assigned to nobody

[2012-02-28 04:13] iynaix opened #42 "Highlighting for javascript templates"
Hi,

I was wondering what issue cc074c30d55b5b66d87edb59098ca57fdfb86b31 fixes. (I'm not at all versed in vim syntax highlighting)
This commit has broken some of the syntax highlighting for my html files.

I use underscore.js templates within my html files and they are usually wrapped within a script tag.
For example,

[code]

Commit cc074c30d55b5b66d87edb59098ca57fdfb86b31 has broken that highlig

[2012-03-21 00:03] asgeo1 opened #45 "No syntax highlighting for curly and square braces?"
Is it just me, or does the syntax highlighting included here not highlight curly and square braces?

The stock JS syntax file in Vim highlights the curly and square braces (but not normal parenthesis) fine - I figured this one would too!

Tested with both gVim and console vim with solarized and ir_black color schemes.

[2012-03-21 11:26] sergi opened #46 "No syntax highlighting for try/catch block"
Hi,

I am not getting syntax highlight for `try/catch` blocks. I am testing with a new `.js` file with the following code:

[code]

[2012-05-01 05:45] AndrewRayCode opened #47 "What is the point of the line let b:current_syntax = "javascript" ?"
It is jiving with another plugin of mine, and according to the help files it's set by vim automatically. Why are you manually setting it at the end of syntax/javascript.vim ?

[2012-05-01 08:14] #47 closed, assigned to nobody

[2012-06-05 11:47] numbcoder opened #49 "add syntax highlighting for commonjs keywords such as require , module, exports"

[2012-08-07 20:07] RobertFischer opened #55 "Build Problem: Did you run git update-server-info on the server?"
[120807 16:06:16] Bundle vim-javascript                                        |~
[120807 16:06:16] $ git clone https://github.com/vim-scripts/vim-javascript.git|~
 '/Users/reverbnation/.vim/bundle/vim-javascript'                              |~
[120807 16:06:16] > Cloning into '/Users/reverbnation/.vim/bundle/vim-javascrip|~
t'...^@fatal: https://github.com/vim-scripts/vim-javascript.git/info/ref

[2012-08-07 21:33] #55 closed, assigned to nobody

[2012-08-10 01:35] magus424 opened #56 "undefined variable line, IndentWithContinuation"
indent/javascript.vim:162

https://github.com/pangloss/vim-javascript/blob/master/indent/javascript.vim#L162

This should be lnum I believe, not line, as line hasn't been defined yet and throws a ton of errors - appears to work when I change line to lnum

[2012-08-10 19:22] #56 closed, assigned to nobody

[2012-08-28 01:37] pktck opened #57 "multiline function calls confuse the indenter (re-open Issue #4)"
**I ran into the same problem submitted by @artm in Issue #4, which was accidentally closed. I don't have permission to re-open the issue, so I've copy-n-pasted it below. Thanks!**

sometimes I have several longish arguments/expressions to a function call so I want to break the function call into something like (manually formatted):

[code]

the following is formatted with 'gg=G' with vim-javascri

[2012-09-04 13:13] yawnt opened #58 "if/else - for | highlight missing"
if/else and for isn't highlighted.. is it just me or is it a bug?

thanks

[2012-09-13 12:11] #58 closed, assigned to nobody

[2012-10-16 10:52] pielgrzym opened #59 "Wrong html indentation with django templates"
Hi,

I'm using htmldjango filetype (I guessed it's included in vim by default now) for my django projects. As soon as I started using vim-javascript indentation html indentation is slow and completely wrong. What can I do to fix this?

[2012-10-16 11:27] #59 closed, assigned to nobody

[2012-11-07 21:47] reynir opened #60 "Increment and decrement ("++","--") treated as binary operators"
Judging from the indent behaviour it seems the increment and decrement operators are treated like binary operators (or a binary operator followed by a unary operator).

For example,

[code]
becomes
[code]

I spent two minutes looking at the code and I believe s:continuation_regex and possibly also s:msl_regex should be altered so they do not match "++" and "--". I do not have a solution.

[2012-11-28 10:45] amadeus opened #61 "Feature Request: Function Argument Syntax Highlighting"
A feature I would like in this syntax plugin would be to highlight both the parenthesis on function declaration and arguments individually.

See example here:

![example](https://dl.dropbox.com/u/18782/highlight-example.png)

I have however managed to get parenthesis isolated outside of function declaration.

My edits to the syntax file are as follows: (probably a major hack, I am no expert in thi

[2012-12-07 08:08] btipling opened #62 "Very slow"
Adding vim-javascript had a major performance impact on vim. Turning it off and removing it made the slowness in using vim go away. I can't be sure but I think it may even have led to vim crashing. The default vim support for JavaScript is not very good, but this is very slow at parsing large JavaScript files. I'm using an ivy-bridge Macbook Retina with SSD.

[2013-01-27 18:57] medihack opened #63 "No indentation or highlighting for Javascript micro templates"
vim-javascript does currently not support [micro templates](http://ejohn.org/blog/javascript-micro-templating/). Those html templates are typically inside a `<script type="text/html" id="my-tpl">`. Inside such a script tag we currently don't have any highlighting or indentation support.

[2013-01-27 19:01] #63 closed, assigned to nobody

[2013-02-19 22:41] pangloss opened #65 "Maintainer wanted"

[2013-02-20 04:54] #65 closed, assigned to nobody

[2013-02-20 09:33] #23 closed, assigned to nobody

[2013-02-20 09:36] #30 closed, assigned to nobody

[2013-02-20 09:43] #39 closed, assigned to nobody

[2013-02-21 08:30] #49 closed, assigned to nobody

[2013-02-25 02:04] aeosynth opened #66 "features documentation"
could you give examples of differences between this plugin and the default? also, are you planning on merging this upstream?

[2013-03-03 08:51] Kuniwak opened #67 "JSDoc indentation is broken?"
Type `/`, `*`, `<CR>`, `<CR>`, `<CR>`, `/`, and result is:

[code]

It seems good, but type  `/`, `*`, `*`, `<CR>`, `<CR>`, `<CR>`, `/`, and result is

[code]

It seems wrong.

Is the problem happen on only my vim?

[2013-03-03 09:41] #67 closed, assigned to nobody

[2013-03-08 05:56] #26 closed, assigned to nobody

[2013-03-08 06:08] #3 closed, assigned to nobody

[2013-03-11 21:47] jweir opened #69 "Commit 4dee33f79486b8 breaks indentation"
The indentation is broken for any code proceeding a mutline var.

Here is an auto indented example:

[code]

[2013-03-12 21:26] gilligan opened #72 "make concealing optional"
I updated today and was rather bewildered when suddenly various statements were concealed with weird replacements.

That's a /really/ drastic step. Personally I can't imagine why anyone would ever want that but who knows maybe someone else will love it. In any case - you should really make that optional/configurable.

[2013-03-13 12:49] scharfie opened #73 "indentation bug: array of objects inside object"
First, I want to say great job on this indent script, as it works great nearly all the time.  I did encounter a bug with this particular data structure:

[code]

Notice that the key: "value" line and following brace are off by one indentation level.

[2013-03-14 05:24] #72 closed, assigned to nobody

[2013-03-17 17:07] SeyZ opened #74 "> 80-columns line - syntax alignment problem."
With that snippet, no problem:
[code]

With the following one -> bug bug. The line is long, so I put a <CR> after the "ten" parameter (80-columns rule). The variable `syntax` is not correctly indented :(

[code]

[2013-04-12 18:52] moll opened #75 "How to replace the default parenthesis-aligned indent with a regular one?"
Is there a way to replace the default parenthesis-aligned line continuation indenting with a regular 1-indent per continuation?

While the parenthesis-alignment may look nice occasionally, it makes the code very irregular, sharp, wastes a lot of space with longer function names, doesn't work with tabs and kills bunnies.

That is, instead of:
[code]
get
[code]

[2013-04-13 04:53] #46 closed, assigned to nobody

[2013-04-13 04:57] #24 closed, assigned to nobody

[2013-05-03 02:18] nateroling opened #76 "Incorrect indentation with single-quoted '/*'"
This works fine with double quotes, but not with single quotes:

[code]

[2013-05-22 02:37] brianarn opened #77 "Commit 2e97915441ca breaks indentation"
I spent some time tracking down the specific change tonight that is impacting my indentation, and it looks like it was part of commit 2e97915441ca - specifically the change to  `s:syng_multiline`.

Here is an example of JS that demonstrates the broken indentation:

[code]

If you put your cursor on the `"some code";` line and hit O to start a new line above the code, and below the comment, you get

[2013-05-29 04:08] #77 closed, assigned to nobody

[2013-06-06 15:27] kamikat opened #80 "multi-line comment indentation is broken"
Got the following indent when using multiline comment in javascript

[code]

Expected intentation (After disable the vim-javascript bundle)

[code]

[2013-07-02 19:31] laughinghan opened #85 "Interferes with rainbow_parentheses"
I just cloned the latest `master` and its interfering with my (up-to-date) fork of https://github.com/kien/rainbow_parentheses.vim . It doesn't interfere with any of my other syntax highlighting plugins (e.g. https://github.com/groenewege/vim-less), only vim-javascript.

Specifically, it appears to be just the `function` keyword that breaks the rainbow parens:
![screenshot](https://f.cloud.github.

[2013-07-12 14:47] aymericbeaumet opened #86 "Indentation shift"
By now, the indentation is made this way:

[code]

I would like to do it like so:

[code]

I don't find any customization variables in the plugin. How can I do?

[2013-07-23 10:20] Rob--W opened #88 "Regular expression and quote (/"/) breaks syntax highlighting"
Steps to reproduce:

[code]

Output:

![bad](https://f.cloud.github.com/assets/1365071/840898/321fe88a-f381-11e2-998c-3e765a9d2268.png)

Expected output (colors are different, but at least the highlighting is consistent):
![good](https://f.cloud.github.com/assets/1365071/840903/51288476-f381-11e2-9dc6-8a2c1d0fbe99.png)

[2013-07-25 02:56] amadeus opened #89 "Issues with the latest batch of commits"
So it seems a lot of changes were merged in recently and they appear to create a lot of weirdness.

Here's a list of issues that I have noticed.

Just for reference, I am using this file to test with (I would welcome any other snippets of code that help test specialized edge cases of JS)
https://gist.github.com/amadeus/6076482

Also, just for reference, I use this little mapping to detect what is

[2013-07-26 21:53] #45 closed, assigned to nobody

[2013-07-27 22:22] #76 closed, assigned to nobody

[2013-07-29 11:17] moll opened #93 "Regular expressions /\[/ and /\]/ break syntax highlighting"
For example:

[code]

Results in the following redness:
![Broken syntax highlighting](https://s3.amazonaws.com/f.cl.ly/items/0K2Z2k2b263j0n0V2B0Y/Screen%20Shot%202013-07-29%20at%202.15.33%20PM.png)

[2013-07-29 23:43] jacknagel opened #94 "Bundling indent/html.vim is questionable"
I was all set to start using this bundle, but then I noticed that it includes a full indent plugin for HTML.

I assume then intent is to enable inline syntax highlighting for `<script>` tags, but it has the potential to override other HTML indent plugins the user might want to use.

Further, current vim includes an updated version of the file provided by this bundle.

Maybe it would be better if t

[2013-08-02 07:20] #61 closed, assigned to nobody

[2013-08-02 21:50] amadeus opened #95 "Thoughts on Operators"
According to this doc, quite a few things are `Operators`.

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators

I am thinking of merging a few more pieces into the Operator group. Some of it I think is overkill (`,`, `.` and `this` specifically).

What are your thoughts?

[2013-08-03 08:12] #80 closed, assigned to nobody

[2013-08-03 08:14] #62 closed, assigned to nobody

[2013-08-03 20:07] #94 closed, assigned to nobody

[2013-08-03 20:39] amadeus opened #101 "Conceal Feature"
~~The recent commit that removed a bunch of stuff from the README also removed the section documenting the `javascript_conceal` variable.~~ This was actually a mistaken merge, however I still question how it is implemented.

I personally don't really care for this feature, and think it's somewhat arbitrarily silly. In my opinion it should be something people would apply using an `after` or `ftplug

[2013-08-03 20:52] #85 closed, assigned to nobody

[2013-08-05 07:43] #95 closed, assigned to nobody

[2013-08-06 14:17] qstrahl opened #105 "Development Process Prone to Breakage"
I think we should clean up our development process a little.

Some people have expressed a fondness for moving fast - I agree, always better to make progress faster. The problem with this is moving fast means breaking often. You can fix fast, sure, but that is far from ideal. Ideally, users should never have to deal with breakages. We can have both.

I am a _huge_ fan of [git flow](http://nvie.com

[2013-08-06 21:58] goatslacker opened #106 "Error on failing ASI"
return
      {
        a: 1
      }

should flag the `return` or the opening brace as `Error`

and

    var a = 'foobar'
    [1, 2, 3].forEach(noop)

should flag [1, 2, 3] or the var declaration as error.

[2013-08-07 15:58] qstrahl opened #107 "`arguments` keyword not consistently highlighted"
Example code:
[code]

It should be highlighted *anywhere* in a function block.

[2013-08-08 07:59] amadeus opened #111 "About jsFuncCall"
I've been refactoring my personal theme to start working with the `develop` branch of this repo. Overall, things have been good, however there is one small issue for me and that is around the linking of `jsFuncCall` to `Function`.

I would prefer not to highlight function calls and just let them exist as whatever they might have qualified out to before.

I've tried this:

[code]

However it doesn'

[2013-08-09 00:34] #35 closed, assigned to nobody

[2013-08-09 06:34] #69 closed, assigned to nobody

[2013-08-09 06:43] #14 closed, assigned to nobody

[2013-08-09 06:44] #32 closed, assigned to nobody

[2013-08-09 06:47] #38 closed, assigned to nobody

[2013-08-09 06:50] #42 closed, assigned to nobody

[2013-08-09 06:53] #66 closed, assigned to nobody

[2013-08-11 23:27] goatslacker opened #118 "improper highlighting for nested conditionals"
[code]

the second `?` isn't highlighted

[2013-08-13 00:44] #118 closed, assigned to nobody

[2013-08-13 14:42] qstrahl opened #120 "jsExpression needs an overhaul"
`jsExpression` right now is just a `cluster` of a bunch of groups. This is wildly inaccurate, and is the source of much woe, including (but probably not limited to) issue #93.

In actuality, there are a few kinds of expressions, and they can nest. `var a = b;` is an expression. In that expression, `b` by itself is an expression; a single identifier is a valid expression, and expressions follow ope

[2013-08-13 15:31] #111 closed, assigned to qstrahl

[2013-08-15 05:17] #105 closed, assigned to nobody

[2013-08-15 13:42] qstrahl opened #124 "Version 0.8.0"
I'm ready to say yes to everything currently in `develop`; as part of the release, I'll update the version numbers to `0.8.0`, because we apparently had version numbers already and I didn't know it! Whoops.

Before I finish up the release, is there anything currently in `develop` that anyone is not sure about?

[2013-08-15 19:53] #124 closed, assigned to qstrahl

[2013-08-16 22:55] amadeus opened #126 "Fix Github Description"
Unfortunately I think only @pangloss can do this, but we should change the description underneath the title to also say this improves Javascript's syntax support, it's not just indentation.

"Vastly improved Javascript indentation and syntax support in Vim. [link]"

Any other ideas as to what the fully text should be?

[2013-08-18 03:41] #126 closed, assigned to nobody

[2013-08-23 22:35] #88 closed, assigned to nobody

[2013-08-23 22:38] #93 closed, assigned to nobody

[2013-08-29 05:18] vivekimsit opened #134 "Regarding usability of conceal and fold"
Hi,

How can I use conceal and fold in the js file.

Thanks

[2013-08-29 05:20] #134 closed, assigned to nobody

[2013-09-09 01:18] ghost opened #135 "Comma separated, multi-line variable declaration indentation"
Code like this:

[code]

Should be indented like this:

[code]

i.e. aligned by variable name

[2013-09-09 02:32] #135 closed, assigned to nobody

[2013-10-09 02:52] karlvlam opened #138 "Object keys without syntax highlight"
Since 03e0f245455661e6808cc3ac7e1b28bf92231f9f , the syntax highlight of object keys is missing.

[2013-10-10 16:58] nisaacson opened #139 "dot chained calls are not indented correctly"
When chaining calls together via the `.` operator, the following lines are not indented correctly

# Desired
[code]

# Current
[code]

Is there a way I can add a custom regular expression to perform additional indentation after the standard vim-javascript indent plugin has finished? Adding an additional two spaces to any line that begins with `.` would be a vast improvement

[2013-10-14 02:38] PaBLoX-CL opened #140 "Very slow performance in large Js files"
I've been seeing a very slow performance when using js files. I just created an empty yeoman app, I tried to open the default `Gruntfile.js` (12K) and when I try to start writing it barely responds. I've tried to look where it was, and I found that disabling the `vim-javascript` plugin it start working normally again. Using the `:profile` commands looks like the culprit is the `GetJavascriptIndent

[2013-10-15 02:40] #138 closed, assigned to nobody

[2013-10-18 19:44] benmoss opened #141 "Quotes inside RegExp bleed out"
If I have a RegExp like `/foo"/`, the syntax highlighting for the rest of the file will be thrown off after the `"`, because it thinks I have opened a string there. Seems like RegExp should be sandboxed from a syntax highlighting perspective, since it does allow for syntax that regular Javascript does not.

[2013-10-20 23:29] #141 closed, assigned to nobody

[2013-11-27 08:10] Lynn-cc opened #147 "Could this support json key highlight and jquery method hightlight?"
I've forked and made a simple copy.But many other changes is for my needs only.

It would be better if you could just support json and jquery highlight in your way. Thanks.

mine: https://github.com/Lynn-cc/vim-javascript/commit/b36cd874c7a80226f0538e2bec7bc00a4c250591#diff-af5b29be69c5b34c00e40f13b7e92435

[2013-12-18 23:43] BeekeeperAlex opened #150 "How do I set the variables that are talked about in the README?"
I'm new to vim but I'm familiar with most common things now. However, I can't seem to figure out how to set the variables in the README? How do I set them in .vimrc? Also, is there a way to set/unset them at runtime? For example, it'd be cool to toggle code folding on/off while I'm editing.

[2013-12-19 00:26] #150 closed, assigned to nobody

[2013-12-19 00:27] BeekeeperAlex opened #151 "Any way to change the colors of the conceal characters?"
Seems the conceal characters don't play nice with my color scheme.

![image](https://f.cloud.github.com/assets/874394/1779222/46b3ac18-6844-11e3-9393-aee8c8e71337.png)

I'll try to make this my last question :P

[2013-12-19 00:33] #151 closed, assigned to nobody

[2013-12-19 16:51] Iazel opened #152 "Syntax injected even with `javascript_enable_domhtmlcss = 0`"
I have some problem with syntax, it changes also in HTML and CSS files, even if I set `g:javascript_enable_domhtmlcss = 0` or doesn't set it at all.

I've installed this plugin through `vundle` on Vim7.3

The most annoying problem is that doesn't highlight `script` open tag.

[2014-01-06 23:07] #147 closed, assigned to nobody

[2014-01-15 04:19] chrisyue opened #153 "Remove $ from iskeyword in PHP files"

[2014-01-24 03:55] lvht opened #155 "bad indent for nested variable"
[code]

[2014-02-10 08:19] lvht opened #161 "bad indent"
[code]

[2014-03-21 19:24] tpope opened #177 "Include with Vim"
Is there any reason the indent plugin hasn't been sent for inclusion in the standard set of runtime files? The existing file is basically just `:set cindent` and explicitly marked as unmaintained. One email to Bram and this could be solved out of the box for everyone!

[2014-03-26 22:27] qstrahl opened #179 "Decide on a solution for regression testing"
As per the discussion in #178, I'd like to open a dialogue about maintaining regression tests for this project. @gabrielelana fronted some great ideas, and it seems having some test coverage would be both doable and very helpful.

I think it's safe to say that an ideal solution would be [node](//nodejs.org/)-based, [npm](//npmjs.org)-installable, and well-maintained. Some cursory research turned u

[2014-03-28 18:26] davidchambers opened #180 "avoid highlighting keyword when used as property name in object literal"
I'm not sure whether this is possible, but it would be great if we could avoid highlighting "default" in the following snippet:

[code]

Pygments is failing here, too. :)

`case` and `default` are particularly problematic, but perhaps other keywords could be handled with a negative lookahead assertion along the lines of `(?!\s*:)`.

[2014-03-29 17:14] mihaisucan opened #181 "add more support for es6 features"
`Map`, `WeakMap`, `Set` are missing in `vim-javascript`, but they are supported by Firefox. Some of these es6 features are also in chrome, currently behind a flag.

see https://developer.mozilla.org/en-US/docs/Web/JavaScript/ECMAScript_6_support_in_Mozilla

[2014-03-29 17:21] mihaisucan opened #182 "highlight method and function calls"
Some syntax highlighters in other editors do something very nice, they highlight method calls differently. For example:

[code]

`bar` has a bold or a different tint than `prop`. Also `foo1` is different from `foo` - it can be the same as `bar` but not necessarily.  Can we get something like this in `vim-javascript`? When skimming through code it's easier to scan for function and method calls - th

[2014-03-29 17:36] #182 closed, assigned to nobody

[2014-04-16 07:16] v76591wC opened #184 "Does not work together with rainbow parantheses for me"
When I use vim-javascript together with kien/rainbow_parentheses.vim matching parentheses do not have different colors. This works however for files that are not javascript files. Disabling vim-javascript makes the parentheses have different colors so I wonder if anyone has an idea how to fix this.

[2014-04-28 18:53] busticated opened #185 "jsObjectKey not working..."
Hi all -

I'm a bit stumped on this one so bear with me... :-)

I fired up macvim this AM and noticed my syntax highlighting was off... after poking around for a while the simplest reproducible issue I can nail down is that the `jsObjectKey` rule is not being applied for some reason.

I'm currently running:

[code]

I can check the currently applied syntax rules using this helper --> https://githu

[2014-04-30 01:09] #185 closed, assigned to nobody

[2014-05-18 19:35] dman777 opened #188 "'(' was not highlighted because of missing ')' in new Promise(function(resolve, reject) {"
[code]

[2014-05-18 22:14] #188 closed, assigned to nobody

[2014-05-24 08:45] md2 opened #189 "Cannot indent code"
vim-javascript fails to properly indent the following code:
[code]

[2014-05-27 14:51] qstrahl opened #190 "IRC Channel?"
Any other collaborators interested in an IRC channel on Freenode for this project? I know I'd be encouraged to develop if I could bounce ideas off the other devs in real time.

[2014-05-27 17:50] #190 closed, assigned to nobody

[2014-06-06 16:24] moll opened #192 "Wrong indent after semicolon-less if statement"
The line after the following gets an indent of one level. There shouldn't be any indenting:
[code]

This is with MacVim Snapshot 70 both with `&regexpengine` of `0` and `1`. Latest master commit.

Cheers

[2014-06-11 17:30] dfishburn opened #193 "Indent off by 1 shiftwidth"
This should be the correct indent:
[code]
Where "fields: [oDetailLayout]" (and following brace next line) are indented one additional shiftwidth.

What I get is:
[code]
This is true with re=0, 1, 2

[2014-06-11 17:33] dfishburn opened #194 "Comments mess up indenting"
This code:
[code]
If indented ends up as:
[code]
This can happen if you indent the whole file (i.e. gg=G)

In some of my plugins I check if the line is a comment by it's synID:
[code]

[2014-06-16 05:34] u9520107 opened #195 "if statements in switch case"
currently i see switch cases to be indented as such. Not sure where I did wrong.
[code]

[2014-06-25 18:31] djcas9 opened #197 "Add vim-jsfmt to vim-javascript"
If any of you have used vim-go they ship with a formatting tool that enforces community standards and cleans up spacing and other ugly things.

I made a plugin around jsfmt which is the javascript version of gofmt. https://github.com/mephux/vim-jsfmt

Would be nice if this was just part of vim-javascript.

[2014-06-25 19:19] #197 closed, assigned to nobody

[2014-07-04 17:46] jlong opened #198 "Comma first indentation"
This plugin seems to prefer comma-first indentation that looks like this:

    var a = 1
      , b = 2
      , c = 3
    ;

I like to line up my commas so that they are on the same level as the closing semi-colon:

    var a = 1
    ,   b = 2
    ,   c = 3
    ;

It would be great if the plugin just observed my indentation and followed it instead of adjusting it to the first form.

[2014-07-09 17:28] JelteF opened #202 "Indentation fails when there is a plus at the end of the previous line"
When writing #201 I found out that general indentation fails when there is a plus at the end of the previous line.

When you press return after typing this:
[code]
 you get send back to the indent of `randomFunctionCall` instead of the indent of the last line.

[2014-08-04 15:51] jgallen23 opened #206 "Folds open when typing a ("
If I have some folds collapsed and I type a `(`, all the folds open.  It also seems to happen with `[`

[2014-08-04 17:02] #153 closed, assigned to nobody

[2014-08-12 17:29] qstrahl opened #207 "ca20190 Breaks Long Comments"
Observe the following asciicast: http://asciinema.org/a/11430

Problem must exist somewhere in here: https://github.com/JelteF/vim-javascript/commit/ca201905da0b44b703cd744e65d29bb9d3a11926#diff-564c1f6e79518959361f7ad8a86f5792R442

[2014-08-14 18:31] #207 closed, assigned to nobody

[2014-08-15 15:15] ikonitas opened #208 "Wrong indentation on html/js"
Hi,

I am trying to edit `index.html` by adding following lines I am getting wrong :

[code]

Expecting:

[code]

[2014-09-13 15:55] huangyg11 opened #212 "indent failed"
[code]

[2014-11-25 01:33] #208 closed, assigned to nobody

[2014-12-02 14:14] oluckyman opened #222 "Strings are not recognized as strings in js files."
Seems as strings are not recognized as strings in js files.
![screenshot](http://cl.ly/image/2t2x0b2u0728/Screen%20Shot%202014-12-02%20at%203.06.52%20PM.png)
In other filetypes strings are highlighted properly.

[2014-12-02 18:35] #222 closed, assigned to nobody

[2014-12-10 00:10] beaugunderson opened #226 "vim-javascript no longer lets gq breaks long comments"
Previous to commit ca201905da0b44b703cd744e65d29bb9d3a11926 vim-javascript would not interfere with `gq`'s breaking of comments that were longer than textwidth into multiple lines, so for example, prior to the commit this works:

[code]

but after ca201905da0b44b703cd744e65d29bb9d3a11926 `gq` has no effect on the first example, and on the second example `gq` actually merges the three lines into on

[2015-01-05 08:48] ohcibi commented on #85
I have just pulled latest master (current commit 977e220b3719) and the issue still exists. I have a js file with `function` in it. If I delete just e.g. the `n` of the word all braces, parenthesis and brackets suddenly become colorful when they were black before. Again this is only an issue with vim-javascript.

[2015-01-07 22:16] raine commented on #226
Would love a fix!

[2015-01-08 19:42] amadeus commented on #226
A fix has been merged into develop (and will get into master over the next week or so most likely). Please test. Will close this for now. And if the issue persists, just post here and we can re-open.

[2015-01-08 19:42] #226 closed

[2015-01-08 19:43] raine commented on #226
Thanks, will test.

[2015-01-13 14:39] zanona commented on #206
Same here…it makes me crazy every time I need to close everything again ;)

[2015-01-13 19:00] amadeus commented on #206
Interesting, I never came across this because I use the delimitmate plugin, which somehow seems to suppress this bug.

Not quite sure why this happens, perhaps because of unmatched `{` and `}`?

[2015-01-13 20:19] zanona commented on #206
@amadeus It is indeed because unmatched brackets or curly braces, however, that's inevitable while writing code. I also have [LESS plugin](https://github.com/groenewege/vim-less) for vim, and it is nice that as soon as you close the curly braces finishing a declaration it folds back the previously opened folds due mismatching.

[2015-01-13 20:36] amadeus commented on #206
@zanona any idea how they might accomplish that? A peripheral look see and I couldn't immediately detect how

[2015-01-14 08:45] zanona commented on #206
@amadeus I am not sure how it is implemented, therefore, after testing it more thoroughly for a minute I could see that it fails sometimes and might end doing the inverse process instead. (closing when having an unmatched `}` and opening the others once that is accomplish.

It's a shame though, because this is something that is quite different from others text editors I have used in the past where

[2015-01-14 19:20] amadeus commented on #206
Yeah, it looks like this could be a vim issue, at least with `foldmethod=syntax`.

[2015-01-14 22:15] zanona commented on #206
Just stumbled upon this which might be really helpful: http://vim.wikia.com/wiki/Keep_folds_closed_while_inserting_text

[2015-01-14 22:57] amadeus commented on #206
Interesting read, thanks!

However it's not something we would add to your project. Closing this issue because it's not really something should fix given it's how vim works.

[2015-01-14 22:57] #206 closed

[2015-01-15 08:01] zanona commented on #206
Fair enough @amadeus thanks. In fact, I will try it out and perhaps this can also help fix #140 as well since it changes to manual when in insert mode.

[2015-01-15 19:16] amadeus commented on #206
@zanona that's a really good point about #140, I will post there about it as well.

[2015-01-15 19:18] amadeus commented on #140
So according to the vim wiki, it seems that `foldmethod=syntax` is notoriously slow, period. And when you couple that with our syntax file that's far more fine grained than most, it's not surprising that it can cause slowdown in insert mode.

As this really becomes more of an issue with vim itself, I am posting here with a potential workaround, and closing this issue:

http://vim.wikia.com/wiki/Ke

[2015-01-15 19:18] #140 closed

[2015-01-21 12:11] arian commented on #181
Also highlighting for the `from` keyword in ES6 module `import`s would be nice.

[code]

[2015-01-21 19:43] amadeus commented on #181
@arian see #233 I'll merge it in shortly.

[2015-01-21 22:14] arian commented on #181
@amadeus, long time no see! Thanks.

[2015-01-21 23:01] amadeus commented on #181
@arian for sure brother, just note, it will be going into the `develop` branch initially, so you'll have to have that branch checked out for the bleeding edge

[2015-01-22 14:24] dragn commented on #212
I'm also annoyed by this issue. I've managed to fix that by removing `[` and '(' from `s:msl_regex`. But I believe, that It will break some other style. Could someone comment on that?

[2015-01-22 18:12] amadeus commented on #212
@dragn I will play around with that change for a bit and see if I can notice and adverse side effects, thanks!

[2015-01-26 17:20] amadeus commented on #212
We have just merged @dragn's fix into `develop`. Thanks for the fix, @dragn!

It should make it into master soon, but you can use the `develop` branch in the meantime.

[2015-01-26 17:20] #212 closed

[2015-01-26 23:07] paxunix opened #235 "Highlighting of evaluated expression inside jsTemplateVar"
[code]
Having the insides of ${} be highlighted would improve readability.

[2015-01-29 10:51] dragn commented on #155
Check it on `develop` branch. I believe it is fixed by https://github.com/pangloss/vim-javascript/pull/234

[2015-02-04 16:03] Delapouite opened #241 "Add … (ellipsis) as conceal char for rest params / spread operators"
Hello

ES6 introduce the rest params and spread operators :
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/rest_parameters
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_operator

Visually, they are basically a series of 3 dots : ...

I propose to introduce a new conceal variable to replace this 3 chars into 1, a proper ellipsis char

[2015-02-04 17:37] carlsverre commented on #195
I am seeing the same issues, has anyone sorted out a solution?

[2015-02-04 18:18] goatslacker commented on #241
Sure

[2015-02-06 12:38] dragn commented on #179
I think that the code for this plugin need a serious revision/rewrite, but before that we really need tests. After a quick search I found some plugins that use Ruby gem ['vimrunner'](https://github.com/AndrewRadev/vimrunner) for testing. But I agree that our tests should better be node-based. Does anyone know of any vimrunner-like npm modules? The closest thing I found: https://github.com/pose/nod

[2015-02-15 21:09] chocolateboy opened #242 "Invalid syntax highlighting for tagged template strings"
vim-javascript: 0.10.0 (e9709a9fb29ed0739eb244b5e70211c1ab647535)
vim: 7.4.52
OS: Linux (Ubuntu 14.04.1)

Syntax highlighting doesn't seem to be handling tagged template strings correctly e.g.:

[code]

\- highlights everything up to the closing backtick correctly (i.e. the tag is green and the template and its delimiters are red), but everything after that is green (to the end of the line). This

[2015-02-15 21:27] goatslacker commented on #242
A quick solution would be to remove the `contains=jsTemplateStrings` for `jsTaggedTemplate` this would however highlight the tag + the string as a `StorageClass`.

[2015-02-16 00:47] amadeus commented on #242
Actually, I think all we need is `keepend` added to the `jsTaggedTemplate` region

[2015-02-16 00:50] amadeus commented on #242
And I don't really use anything ES6 these days, but I believe the end matcher on `jsTaggedTemplate` is wrong. Aren't these template strings supposed to be able to span multiple lines? Currently the ending regex is

[code]

 which ends the template string with a linebreak, which I think is incorrect?

[2015-02-16 01:40] goatslacker commented on #242
We can remove the $ and add keepend.

[2015-02-24 13:05] minznerjosh opened #246 "Tag v0.10.0 Release?"
I noticed the last commit updated ```README.md``` to report version ```v0.10.0```. Should a release tag also be made?

[2015-02-25 00:03] amadeus commented on #246
I just added the tag for now. Don't have time right now to make an official release though, would need to backtrack and see what highlighted changes have occured since 0.9.0 (it's a ton actually..)

[2015-02-25 00:03] #246 closed

[2015-02-25 00:13] goatslacker commented on #246
I can add the changelog to the tag later

[2015-03-01 17:15] chocolateboy opened #247 "Invalid syntax highlighting for single-line comments after an import statement"
vim-javascript: 0.10.0 (e9709a9fb29ed0739eb244b5e70211c1ab647535)
vim: 7.4.52
OS: Linux (Ubuntu 14.04.2)

[code]

On my system, the comment on the first line is initially unhighlighted (white) until the single quote, which throws it off, and the rest of the line is highlighted like a string.

The second line is highlighted correctly.

[2015-03-02 22:22] sukima commented on #161
Confirmed:

[code]

Any plans on a resolution in the near future?

[2015-03-02 23:52] sukima commented on #161
I just did some investigations and it turned out I had an old (2007) JavaScript indent plugin hiding in my `~/.vim/indent` folder. This cause all kinds of havoc including bad indenting while using *this* plugin. [After removing it](https://github.com/sukima/vimrc/commit/d8f30f11925549289d90c00276cad67fda911e2c) the indenting seemed to be appropriate.

I don't know if that fixes @lvht issue or not

[2015-03-02 23:58] sukima commented on #139
I don't think there is any reliable way to do this and not force semi-colons (without tricks like syntax). Now for me that's totally okay since I like semi-colons (for this very reason) but many developers prefer the more renegade style of flexing JavaScript's [auto semi-colon insertion (ASI)](http://jamesallardice.com/understanding-automatic-semi-colon-insertion-in-javascript/).

Thoughts?

[2015-03-03 00:00] goatslacker commented on #139
If it starts with a dot, indent. This is probably not bullet proof however.

[2015-03-03 00:58] sukima commented on #139
@goatslacker good point. I guess I took for granted that the dot can also be trailing. Investigating...

[2015-03-03 01:12] goatslacker commented on #139
So I did this for leading commas and it worked for 80% of the use cases, not sure if dot would be the same case or not. I haven't fully thought this through.

Trailing dot wouldn't work, but I guess if the dot is trailing you could also indent. I think this is the current behaviour actually.

[2015-03-03 02:28] lvht commented on #161
@sukima just use develop branch to fix this issue

[2015-03-03 02:31] sukima commented on #139
@goatslacker see PR #248. My dev tests show this as working.

[2015-03-03 03:16] sukima commented on #161
The only difference between master and develop is commit 6cad2d987a0b9a2c41a035026673cb8d4db94e0e. I fail to see how that commit fixes this issue.

[2015-03-05 07:30] BerkeleyTrue commented on #181
I have noticed issues with indenting when using arrowFunctions. Any plans on supporting new indentations styles?

[2015-03-06 00:29] michaelpg opened #253 "No indent after for loop without braces, due to semicolons"
Consider:

    if (1)
            foo();
    for (var i = 0; i < 10; i++) {
            foo();
    }
    for (var i = 0; i < 10; i++)
    foo();

The last line should be indented, but it seems the semicolons in the brace-less `for` loop prevent the next line from being indented. I suspect the semicolons cause this problem because, for instance, `for (;;)` prevents the next line from being indented

[2015-03-06 21:32] dragn opened #254 "Indentation tests"
Following up #179 I'd like to propose a solution for regression tests.
Please, take a look at https://github.com/dragn/vim-javascript/tree/feature/tests
To run tests:
[code]
Actual tests are located in `tests/indent-tests`. The idea is simple: we take a piece of code with correct indent, pass it through plugin and check that nothing has changed. I've put up some basic tests (a lot of them are fail

[2015-03-06 22:28] goatslacker commented on #254
That's clever, I like it.

[2015-03-09 08:13] luin opened #255 "add support for es7 feature like `async/await`"
Any plan to support es7 features like `async` or `await`?

[2015-03-09 17:20] goatslacker commented on #255
feel free to send a PR.

[2015-03-15 05:11] FrankFang commented on #192
+1

[2015-03-17 14:07] dreki commented on #101
@PatrickHail's suggestion worked for me.

[2015-03-18 02:30] euoia opened #256 "export class MyClass { ... highlights closing brace as error (es6)"
When using the following ES6 syntax:
[code]

The closing brace is highlighted as an error. See screenshot.

![image](https://cloud.githubusercontent.com/assets/1271216/6701560/cb7ce908-ccf4-11e4-8246-431ada8747a9.png)

Description of the export statement: http://www.2ality.com/2014/09/es6-modules-final.html.

[2015-03-26 14:44] emilabraham opened #257 "Wrong indentation with cron syntax in object literal"
I'm having an issue with the auto-indentation when I attempt to write cron syntax in an object literal. I believe it has to do with the `/` character. When I remove the `/`, the indentation returns to normal. But if I keep it in, then the next line becomes unindented. Maybe it is being treated like a block comment? Here are some screenshots:

With the `/`:
![screen shot 2015-03-26 at 10 41 20 am](

[2015-03-30 21:20] wincent opened #259 "Incorrect highlight for Flow function param type annotation containing function parameter"
The `})` in the following sample gets matched and highlighted as a `jsParensError`, but it's correct ES6 syntax with [Flow](http://flowtype.org/) annotations:

[code]

As a workaround, I can declare a separate type alias:

[code]

Any thoughts on how to resolve this without reducing the ability of the `jsParensError` rules to detect and highlight actual errors?

[2015-03-30 22:51] goatslacker commented on #259
We don't have flow support just yet, but this will be nice.

[2015-04-03 21:25] mikew opened #261 "Support for ES6 class / object functions"
ES6 has another syntax for functions. What was `{ someProp: function () {} }` can now be written as `{ someProp () {} }`.

![screen shot 2015-04-03 at 6 18 09 pm](https://cloud.githubusercontent.com/assets/4729/6989143/8b39e5a2-da2e-11e4-8c65-c82487b77d15.png)

They should be `jsObjectKey`, but currently they get parsed as `jsFuncCall`. I tried my hand at adding support but couldn't grok vim's syn

[2015-04-06 05:52] sagax commented on #261
i think, it is perhaps necessary to do separate high light of syntax for javascript es6

[2015-04-06 05:54] sagax commented on #261
for example **javascript6**

[2015-04-06 19:35] arthurvr commented on #261
Why? It's the same language lol

[2015-04-07 07:53] sagax commented on #261
it's true, but
but syntax highlighting differs in vim

[2015-04-11 12:55] c10b10 commented on #85
Seems that the issue still exists for me too in https://github.com/oblitum/rainbow

If I disable the plugin, colouring starts to work in js files.

[2015-04-22 16:27] shangsunset opened #262 "inline javascript indentation not working"
Hi,

the inline javascript indentation is not working. is there a configuration for this or inline javascript is not supported by vim-javascript?

thanks.

[2015-04-22 17:01] qstrahl commented on #262
I believe it was decided that inline javascript is the responsibility of the html syntax... but I'm starting to wonder if that was the right decision. Maybe we should reconsider that. Can we get some other contributors and users here to voice their thoughts?

[2015-05-05 16:55] Heldraug commented on #85
Same issue, as @laughinghan wrote previously, deleting syntax/javascript.vim fixes the issue.

[2015-05-09 04:32] dvcrn opened #267 "Highlights for strings, numbers, doubles and function keys"
Hello,

I just installed this extension and am in the process of poking a bit around with it. The first thing I noticed was that strings, doubles, numbers and keys (if it is a function) are not highlighted. I'm wondering if I did something wrong or if this behavior is just not yet implemented.

![screen shot 2015-05-09 at 1 28 42 pm](https://cloud.githubusercontent.com/assets/688326/7548674/99cd5f

[2015-05-09 05:08] goatslacker commented on #267
Must be your color scheme.

[2015-05-10 03:17] dvcrn commented on #267
Yup it was my color scheme. Sorry for that.

[2015-05-10 03:17] #267 closed

[2015-05-22 02:28] virgilio commented on #195
+1

[2015-05-22 08:25] crusoexia commented on #107
global keyword + 1
It is very weird for people to use 'arguments' out of function

[2015-05-22 11:52] qstrahl commented on #107
I think I'm favour of that, too. It's easy enough and I doubt anyone would be complaining about it.

[2015-05-22 16:50] goatslacker commented on #107
+1

[2015-05-28 15:13] qstrahl commented on #107
Closed by #268

[2015-05-28 15:13] #107 closed

[2015-05-28 20:45] JKirchartz commented on #161
+1

[2015-05-28 21:01] JKirchartz commented on #74
+1

[2015-06-01 03:40] rockydd commented on #262
+1 Need this to work in html.

[2015-06-07 19:45] chrisbra commented on #177
If you really want to distribute this with Vim, you need to give explicit permission to include and distribute this with Vim. And you probably want to reply [here](https://groups.google.com/d/msg/vim_dev/OXPA5QxOq_I/oMvPJCoeyN4J)

[2015-06-07 19:58] goatslacker commented on #177
cc @pangloss who still has a lot of code written. We should include a license with this repo.

[2015-06-08 02:49] pangloss commented on #177
Thanks Christian for bringing that to our attention.

Josh, I agree that a license should be included. Presumably there is a
standard one for vim projects? Anyway, at this point I think we should just
wait and use whichever license it's given when it's included in the Vim
distribution (if it is) to prevent further confusion.

On Sun, Jun 7, 2015 at 3:58 PM, Josh Perez <notifications@github.com> wr

[2015-06-12 19:46] devm33 commented on #139
Any update on this? I'd be happy to spend some time getting this working.

[2015-06-14 03:02] sukima commented on #139
@devm33 No progress, I've learned to live with the dot as a line prefix not a suffix.

[2015-06-19 08:08] rightaway opened #271 "Generator highlighting not always working"
In functions like `function *func(a, b) {}` the highlighting of the asterisk works fine, but not in the following 2 cases:

[code]

[code]

[2015-06-19 08:13] rightaway opened #272 "Arrow function only works if surrounded by parentheses"
The arrow gets highlighted fine in this case
[code]

But not when the parentheses are omitted.
[code]

[2015-06-24 19:45] Anzumana commented on #101
@PatrickHail same for me

[2015-06-25 21:30] nemtsov commented on #256
Same thing with exporting objects:

![export_objects_vim_bug](https://cloud.githubusercontent.com/assets/39958/8366100/dd21293a-1b5f-11e5-9ad8-06d5065b9c4f.png)

[2015-06-26 11:23] chiedojohn commented on #181
Could you also add highlighting for string interpolation?

[2015-06-30 23:37] goatslacker commented on #181
This is a bit of an old issue.

[2015-06-30 23:37] #181 closed

[2015-07-08 19:40] moll commented on #192
This seems to be still an issue.

[2015-07-09 18:04] octref commented on #261
+1. Hope this could get fixed.

[2015-07-09 18:14] qstrahl commented on #261
+1 to remind myself to do this

On Thu, 9 Jul 2015 at 14:04 Pine Wu <notifications@github.com> wrote:

[2015-07-11 17:22] arifb commented on #262
html syntax in vim doesn't properly indent javascript, so would love to see it added to this plugin

[2015-07-15 17:20] gf3 commented on #261
currently being highlighted as `jsFuncCall`

[2015-07-15 17:21] gf3 commented on #256
being highlighted as a `jsParensError`

[2015-07-16 14:18] qstrahl commented on #261
I'm pretty sure this is relatively easy to implement. I'll see if I can do it this weekend.

[2015-07-17 15:54] davidchambers commented on #272
Do we close an issue when the relevant PR is accepted, or once the commit is pulled into master?

[2015-07-17 15:55] qstrahl commented on #272
Eh, let's close them sooner to avoid forgetting they exist.

[2015-07-17 15:56] #272 closed

[2015-07-21 12:37] SirCmpwn commented on #256
Does not seem to have been fixed by #275 so far as I can tell.

[2015-07-21 19:28] ccarpita commented on #256
@SirCmpwn are you sure you're on develop branch?  Otherwise please post some sample code that generates incorrect syntax and I can test locally.

[2015-07-21 19:29] SirCmpwn commented on #256
Oh, whoops, didn't realize this was only in develop.

[2015-07-27 15:28] nemtsov commented on #256
#275 resolves the issue for me.

[2015-07-27 15:36] gf3 commented on #256
it didn't for me, tried it a couple days ago

[2015-07-28 14:01] wallacyyy commented on #261
Someone is taking a look on this ?
Don't know if it's too early, because it's a ES7 feature I think but:

![http://i.imgur.com/TzkYoEe.png](http://i.imgur.com/TzkYoEe.png)

[2015-07-28 14:19] octref commented on #261
@wallacyyy
Do you mind opening another issue for your request?

[2015-07-28 14:22] wallacyyy commented on #261
@octref No problem ! :)

[2015-07-28 14:32] wallacyyy opened #282 "Support for ES6+ property initializer with arrow function"
Example:

![http://i.imgur.com/TzkYoEe.png](http://i.imgur.com/TzkYoEe.png)

I think the "togglePanel" above should be highlighted.

[2015-07-28 19:02] ccarpita commented on #256
@gf3 can you post a test case that fails?  Also, sorry to ask, but are you 100% sure you're using the current `develop` branch?

[2015-07-29 02:29] udaiveerS opened #283 "Intro docs Vundle install error"
Plugin "pangloss/vim-javascript"

Error detected while processing /Users/udaiveer/.vimrc:
line   15:
E471: Argument required: Plugin
but if you change it to

Plugin 'pangloss/vim-javascript'

The error goes away and Vundle :BundleInstall successfully installs.

I am using a Mac v10.10 vim 7.4 latest
VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Jul 27 2015 16:57:27)
MacOS X (unix) version
Included

[2015-07-29 16:12] netei opened #284 "Badly indented code with `:` on a new line does not get reindented"
When running `gg=G`

on a file containing the following content:

[code]

The debug statement doesnt get indented to level 0, despite it being clear it is not on the same level as conf.payload

[2015-07-29 16:12] netei commented on #284
Putting the : conf.payload; on the same line fixes, it, but it is still a bug

[2015-07-29 19:41] Shriken opened #285 "Color customization"
I'm a little puzzled as to why this plugin overrides my existing color configs. Is there a way I can un-override them?

[2015-07-29 19:49] amadeus commented on #285
It doesn't override your existing color configs. It assigns matches to different groups than what the default JS syntax file does.

Basically the way syntax highlighting works in Vim, you create regexes or special keyword matches, that you give a highlighting group name to.  Then you link those highlighting groups to standard built in groups that Vim has.

So for example, here's a regex for jsNumb

[2015-07-29 19:52] #285 closed

[2015-07-29 20:18] Shriken commented on #285
Hm. Thanks for your help.

[2015-07-31 21:55] parkwherever commented on #226
Was this issue fixed?

[2015-07-31 21:57] amadeus commented on #226
Yes, it should be

[2015-08-10 06:26] #283 closed

[2015-08-10 22:38] davidchambers commented on #283
Did you get to the bottom of the issue, @udaiveerS?

[2015-08-11 05:54] udaiveerS commented on #283
Well I just though that maybe my vim settings made me get an error and I closed the issue. But your comment made me do some more research and I think that maybe we should change the
`Plugin "pangloss/vim-javascript"`
to
`Plugin 'pangloss/vim-javascript'` In the main documentation page. If you copy paste like I do you will get an error following main docs. If you look at the Vundle main page all __

[2015-08-11 06:38] davidchambers commented on #283
Aha! Thanks for investigating. This was actually fixed in #252 (on the develop branch) but the master branch does not yet reflect the change.

[2015-08-14 18:56] krzkrzkrz commented on #184
One year later. Seeing this as well... guess no updates since then?

[2015-08-20 01:26] whitneyit opened #289 "Html highlighting within backticks?"
On [line 93](https://github.com/pangloss/vim-javascript/blob/master/syntax/javascript.vim#L93) there is a call to `@htmlPreproc`.

Should this enable html highlighting within `jsTemplateString`?

Currently it looks like this:

![highlight](http://i.imgur.com/XnEwnf4.png)

[2015-08-20 03:47] goatslacker commented on #289
Enabling syntax highlighting within jsTemplateString would be a bit weird because then it would be tough to tell whether you're in a template or not. I like the current approach of leaving everything highlighted as a string except for the evaluated bits.

Something I wish we did have was syntax highlighting within the evaluated part.

[2015-08-20 03:50] whitneyit commented on #289
Ok, Do you a way that would allow the above functionality to work from `.vimrc` file then? I tried playing around with `syntax include` but got recursion errors

[2015-08-25 12:36] HiCodin commented on #101
The feature is working in inline js but not in external js file itself. :(

[2015-08-26 19:22] rolodato opened #290 ""catch" is always highlighted as a keyword, independent of context"
For example, this code:

[code]

is rendered like this:

![image](https://cloud.githubusercontent.com/assets/829698/9503623/7eafbb2a-4c0e-11e5-81b6-a037c039e5f3.png)

This is handled correctly by WebStorm, for example:

![image](https://cloud.githubusercontent.com/assets/829698/9503631/94272de4-4c0e-11e5-9953-f02f82b611bd.png)

[2015-08-27 02:05] davidchambers commented on #290
This is somewhat related to #180.

[2015-08-27 02:43] rolodato commented on #290
Thanks for pointing that out, I had searched the issues for something like this but didn't find it.

I have no clue how vim plugins or vim's syntax highlighting work in general but if there's something I can do in helping with a fix, please let me know.

[2015-08-28 18:31] camsteffen opened #291 "indent after one-line if statement without semicolon"
This is incorrectly indented

    if(1) return
        console.log('foo')

[2015-08-28 20:02] qstrahl commented on #291
Oh man, I have a feeling this one is going to be absurdly difficult to solve. Thanks for the report.

[2015-08-31 13:04] cambunctious commented on #291
Admittedly I am not familiar with the code, but shouldn't this be pretty simple? If there is anything after the parenthesis, then that is the if block and the next line is not.

[2015-09-01 17:28] cambunctious commented on #291
I decided to get my hands dirty.

Looking at `indent/javascript.vim`...

The problem is that `s:InOneLineScope(lnum)` evaluates true (non-zero) with the line `if(1) return`. I believe the function would be better named `BeginsOneLineScope`. Fixing it will require changing `s:one_line_scope_regex` so that it does not match when there is a statement following the `if/for/while/...`. I'm not very goo

[2015-09-01 17:36] cambunctious commented on #291
Related to #192 and #253

[2015-09-01 19:10] qstrahl commented on #291
Thanks for the detective work, @cambunctious!

Using regexes for this stuff makes me throw up in my mouth a bit, but unless/until we can make use of the underlying syntax groups to do this stuff, it's pretty unavoidable... I have a knack for vim regex so I'll take a crack at getting something in place that won't break under the smallest amount of pressure, and hopefully we'll be able to put this t

[2015-09-01 19:26] qstrahl commented on #291
Also, with regard to:

Corner cases. Consider the following:

[code]

I don't have a very good idea of how all those indent-related functions operate, but I assume that cases like the above could throw it for a loop. We can ignore those cases, but only until somebody posts an issue here complaining that it doesn't work. :P

[2015-09-01 21:11] cambunctious commented on #291
Maybe `s:InOneLineScope(lnum)` could work something like this:

1. if the line ends with `else`, return true
1. If the line ends with `if|while|for` followed by a parenthetical, return true
1. return false

I see the tricky part is the parenthetical with regex. Is it possible to use the `%` command to find matching parenthesis? If so, start step 2 by detecting a `)` at the end of the line.

[2015-09-01 21:21] qstrahl commented on #291
I will have to take a look at it, but using normal commands/moving the
cursor around sounds like it could break stuff, if it's even possible.
Don't worry, I'll figure something out. Just gotta dive into the code. =)

On Tue, 1 Sep 2015 17:11 Cameron Steffen <notifications@github.com> wrote:

[2015-09-05 00:13] raine commented on #242
Broken as such:

<img width="201" alt="screen shot 2015-09-05 at 3 13 31" src="https://cloud.githubusercontent.com/assets/11027/9696622/1b9280e8-537c-11e5-9211-9ebd1dddce79.png">

[2015-09-08 13:16] gabrielflorit opened #294 "function parameters not being highlighted"
Looks like function parameters aren't highlighted. Is this the expected behavior, or is something wrong with my setup?

[2015-09-08 17:00] qstrahl commented on #294
I believe this is currently expected behaviour, though they are tied to the syntax group `jsFuncArgs`, so if you wanted to highlight them, you could do something like this:

[code]

[2015-09-09 11:45] gabrielflorit commented on #294
Cool, thanks. Will test it out.

[2015-09-09 11:45] #294 closed

[2015-09-10 00:41] toddw commented on #256
Latest `develop` branch resolved the problem for me

[2015-09-10 09:11] megapctr opened #296 "Fix snippet for vundle installation"
This is a very little thing. The readme says:

However, the double quote (") in an inline comment in vim syntax - the given snippet causes a syntax error. Please replace double quotes with single quotes :)

[2015-09-10 09:17] unclechu opened #297 "Incorrect syntax hilight for line-comments in multiline function arguments declaration"
https://imgur.com/ZzdIDmz See 14th line.
![Issue demonstration](http://i.imgur.com/ZzdIDmz.png)

[code]

[2015-09-10 09:26] unclechu opened #298 "Incorrect jsdoc hilight for @param names that starts with '$'"
See `$map`
![Demonstration](http://i.imgur.com/TJ5Rsck.png)

[2015-09-10 09:31] unclechu opened #299 "JSDoc syntax hilight issues with types defining"
May be `getLatLng~opts` in `@type {Object} getLatLng~opts` should be hilighted as `address` in `@property {?string} address`?

And see `@callback getLatLng~cb`, — `~cb` isn't hilighted, any reason for that? Or it just syntax issue?

![Demonstration](http://i.imgur.com/A7kf88w.png)

[2015-09-10 09:39] megapctr commented on #101
IMO @PatrickHail's solution is worth mentioning in the README

[2015-09-10 14:43] gf3 commented on #256
previous issue seems to be fixed since i last tried, looking good!

[2015-09-10 16:15] davidchambers commented on #296
Thanks for raising this issue. This was fixed on the __develop__ branch via #252.

Collaborators: Should we make documentation corrections against __master__ in future to avoid confusion? (We'd then manually merge __master__ into __develop__ to ensure the latter remains a superset of the former.)

[2015-09-10 16:15] #296 closed

[2015-09-11 03:11] josemarluedke commented on #261
:+1

[2015-09-11 09:48] raine opened #300 "Invalid syntax highlighting for curly braces inside template strings"
![screen shot 2015-09-11 at 12 48 09](https://cloud.githubusercontent.com/assets/11027/9812038/602ceaf2-5883-11e5-8d74-0fd09740fdb1.png)

[2015-09-16 16:04] rblakeley commented on #261
Is this just about patching syntax highlighting or indention also?

Within an ES6 class, when I use `return` to get to a new line, the previous line indent shifts to the left automatically. It's horrible.

[2015-09-16 16:05] octref commented on #261
@qstrahl
Just curious, any progress?

[2015-09-16 16:14] qstrahl commented on #261
@octref Haven't had time -- too much work! :<

[2015-09-20 21:37] qstrahl commented on #296
That sounds cool to me. Working on develop is just supposed to protect
against uncaught breakages, and docs can't really break anything.

On Thu, 10 Sep 2015 12:15 David Chambers <notifications@github.com> wrote:

[2015-09-21 13:28] spadgett opened #303 "gq formats more than selection in HTML files"
When I type `gqit` inside the first paragraph to format just the text inside the tag,

[code]

This is the result I see:

[code]

This seems to be caused by a custom `formatexpr`, `Fixedgq`, which is formatting lines past where it should. I see similar results using a visual selection where `gq` formats past the end of the selection.

[2015-09-21 18:33] amadeus commented on #303
I don't think we apply our indent stuff to HTML files anymore? I could be wrong though

[2015-09-23 13:42] qstrahl opened #304 "Time For A Merge"
It's been a few months since the last merge back into `master`; I think it's time. We've got some people waiting on some features, and it's been a week since the last change to `develop` and I haven't noticed any breakages. Y'all agree?

[2015-09-23 13:44] utix commented on #304
+1

[2015-09-23 15:10] netei commented on #304
+1

[2015-09-23 15:36] Delapouite commented on #304
Absolutely!

[2015-09-23 15:42] davidchambers commented on #304
Sounds good to me.

[2015-09-23 17:12] #247 closed

[2015-09-23 17:12] #304 closed

[2015-09-24 22:12] nornagon commented on #75
Wish this was configurable :(

[2015-09-25 18:05] ddaza opened #307 "Indentation of objects with arrow functions (=>) is not accurate"
this
[code]
gets indented into, this:

[code]
I was expecting it not to change or default to the first bit of code.
thanks!

[2015-10-01 02:21] Vekat commented on #299
I looked it up, since @type is a tag that only takes a type (and no parameters), no further highlighting is done after it.

[2015-10-01 02:49] Vekat commented on #298
Proposed a fix in #308.

[2015-10-02 13:53] artfulrobot opened #310 "Also support fold markers?"
Thanks for the plugin! Occasionally I find I also need to enlist the help of foldmarkers to add additional folds in code, i.e. `{{{ ... }}}`.

It would be fab if this plugin also supported this.

[2015-10-02 21:45] axelson commented on #261
+1

[2015-10-06 08:25] shime opened #311 "incorrect version number for latest release"
the latest release is `v0.1.0`, but the version before that was `v0.9.0`

[2015-10-06 15:52] lvarayut commented on #139
Any progress on this issue? I'm having the same problem.

[2015-10-07 03:28] nukr opened #314 "Dose not indent with multiline template string"
I am writing GraphQL in javascript but got some trouble

I expect
[code]

but I got

[code]

How to solve it ?

[2015-10-09 08:19] leomao opened #315 "Doesn't restore indent level after closing parenthesis"
`|` denotes the cursor position.

expected result:
[code]

currently:
[code]

[2015-10-09 17:10] davidchambers commented on #315
This bites me frequently.

[2015-10-12 09:52] simono opened #316 "Wrong highlighting with nested Template Strings"
See attached Screenshots (Vim and MacVim).

![screen shot 2015-10-12 at 11 51 33](https://cloud.githubusercontent.com/assets/874148/10425391/a2d310d6-70d7-11e5-914f-535991b3eb1d.png)
![screen shot 2015-10-12 at 11 50 12](https://cloud.githubusercontent.com/assets/874148/10425392/a2d605b6-70d7-11e5-9f5f-5d7477e993c6.png)

[2015-10-14 23:10] evgenyzinoviev commented on #291
Just faced this problem. I've never used regular expressions in vimscript before, so I'm almost sure that my solution is absolutely wrong and dirty, but it seems to work for me for now (tested for a few seconds lol)

[code]

[2015-10-15 01:00] cambunctious commented on #291
I already have a pull request submitted for this.

[2015-10-19 22:42] ddaza opened #317 "chained operations indentation."
Is there anyway to set up an option/rule for the indent of chained operations like this??

[code]
currently the default indent resolves to this:

[code]

[2015-10-21 13:51] eapache opened #318 "Flow null annotations break everything"
I realize there is no flow support here, but annotations still tend to be mostly ignored at least, without breaking the syntax. The one exception to this is flow null annotations (e.g. `?Foo`) which get interpreted as the start of a ternary operator and destroy highlighting/indentation for the rest of the file.

As a temporary workaround I've made the start of a ternary `+? +` instead of `+?+` but

[2015-10-24 09:18] lvarayut commented on #317
Duplicated #139.

[2015-10-24 19:54] #317 closed

[2015-10-29 15:52] qstrahl opened #319 "":" in 'iskeyword' ?"
I don't know when or why this was changed, but I just noticed we added `:` to `'iskeyword'`. This is dead wrong, does anyone know why this happened?

[2015-10-29 19:14] amadeus commented on #319
I cannot confirm, `:` is not in iskeyword for me. Also it's nowhere in the syntax. I am guessing you might have some other plugin causing problems?

[2015-10-29 21:45] qstrahl commented on #319
Whaaaaat? Let me get back to you on this one... vim is behaving strangely
for me today.

On Thu, 29 Oct 2015, 15:14 Amadeus Demarzi <notifications@github.com> wrote:

[2015-10-30 15:49] chalmagean commented on #139
+1

[2015-10-31 06:29] ahoym commented on #261
+1

[2015-11-03 07:43] raine opened #320 "JSDoc highlighting issue with record type syntax"
<img width="408" alt="screen shot 2015-11-03 at 9 42 32" src="https://cloud.githubusercontent.com/assets/11027/10903145/50dde46a-820f-11e5-836d-9ffba63e9ba3.png">

It thinks that the last curly brace is the parameter name

[2015-11-03 12:41] qstrahl commented on #320
I suspect the issue is simply that we don't have support for record type
syntax. Adding it shouldn't be too difficult; it may even be possible to
just add the object literal syntax group inside the jsDoc comment syntax
group.

On Tue, 3 Nov 2015, 03:25 Raine Virta <notifications@github.com> wrote:

[2015-11-06 09:37] edwardsmit commented on #73
+1 Doesn't look like the maintainers find this annoying seeing that this "confirmed bug" is open for more than a year :(

[2015-11-06 10:04] qstrahl commented on #73
Oh believe me, we find it annoying. It's just that vim indent plugins are
arcane and we all have lives outside code, too.

On Fri, 6 Nov 2015, 04:37 Edward Smit <notifications@github.com> wrote:

[2015-11-06 14:22] mnebuerquo opened #321 "multiline object literals as function arguments are not indented correctly"
I'm trying to learn Ember, so I'm following a [tutorial](http://yoember.com/) and doing some copy/paste. To fix my indenting after copy/paste, I use `gg=G` to re-indent the whole file.

This one indent issue has been causing me annoyance lately, partly because a lot of code uses this pattern and I need to re-indent it. I reinstalled this plugin and upgraded vim, but the issue remains.

Notice the

[2015-11-06 23:33] amadeus commented on #73
Also, unfortunately, none of the current maintainers (including myself) have any real experience with Vim's indent API. None of us wrote the original code for it, so it's a bit of a scary beast

[2015-11-09 22:47] girvo commented on #261
+1

[2015-11-12 22:15] drichardson opened #322 "incorrect indentation for multi-variable declaration"
As of 1d8c2677, indenting the following code

    var a=1,
        b=2,
        c=3

results in the 3rd line being indented an extra level.

    var a=1,
        b=2,
            c=3

This appears to be a regression introduced in 487e0c659. In the previous commit (c3787301c), it indents as expected.

[2015-11-13 20:09] chiedojohn commented on #314
Any follow up on this?

[2015-11-15 08:50] kuc2477 opened #323 "'from' keyword in a multi line import statement is not highlighted"
For example, in the import statement like :
[code]
`from` keyword is not highlighted. es6 specification allows new lines and white spaces in an import statement so I think it would be better to support highlighting `from` keyword in multi line import statements too.

[2015-11-16 11:03] BobWhitelock commented on #303
I'm also seeing the same issue, in my case with JSX files within embedded XML in Javascript. I'm using [vim-jsx](https://github.com/mxw/vim-jsx) as well as this plugin with these files; however the issue occurs when just this plugin is enabled, and doesn't without it. Thanks.

[2015-11-18 12:57] nicohvi commented on #261
+1

[2015-11-23 03:37] lookforit commented on #184
Seeing the same issue...
Looking for a perfect fix version.

[2015-11-23 14:51] Skinney commented on #139
+1

[2015-11-24 19:17] eddiezane opened #324 "Regex ending in * breaks indenting in block below it"
It appears a regex ending in `*` breaks indenting below it in a block.

[code]

Can anyone replicate or confirm?

Apologies if this was already reported.

[2015-11-24 19:32] davidchambers commented on #324
I can't reproduce the problem. Could you disable your plugins one by one to confirm vim-javascript is responsible?

[2015-11-24 21:29] eddiezane commented on #324
Reproduced it with a completely blank vimrc aside from vim-javascript.

Try running a `gg=G` on it in a buffer?

[2015-11-24 22:07] davidchambers commented on #324
Ah, now I see it! Thanks for taking the time to verify that vim-javascript is at fault.

The problem is that none of this project's current maintainers is familiar with the indentation-related code.

[2015-11-24 22:10] davidchambers opened #325 "add "indentation" label"
There are a number of indentation-related issues. I think it would be helpful to tag them as such. If I get a `:+1:` from one of the other maintainers I'll create the label and apply it to open issues where appropriate.

[2015-11-24 22:16] amadeus commented on #325
:+1:

[2015-11-24 22:31] davidchambers commented on #325
Done. About half our open issues are related to [indentation][1].

[1]: https://github.com/pangloss/vim-javascript/issues?q=is%3Aopen+is%3Aissue+label%3Aindentation

[2015-11-24 22:31] #325 closed

[2015-11-29 18:35] stigmat4j opened #326 "Wrong es6/es7 decorators indent"
Before
![Image](http://croper.ru/images/201511294up2zSbDbBzHtg3z_3d73n_large.png?39973)

After
![Image](http://croper.ru/images/20151129sZhSQUIbNlmFEKOF_AaMzh_large.png?11971)

[2015-11-30 02:47] lookforit opened #327 "Make node.js 's module highlight surpported."
Hi
In the following code :
[code]

I just want `watch`  `log` highlight as function ,how can i customize  this ?

[2015-12-04 21:58] halilb commented on #74
I'm having the same problem.

[2015-12-07 09:42] sassanh opened #328 "Folding is not working for me"
Thanks for this great plugin. Everything works fine here except folding, I'd be thankful if you could help me to solve this.
My vim supports folding and I see it in action for python file for example with python-mode plugin. when I run ```echo map(synstack(line("."),col(".")),'synIDattr(v:val,"name")')``` in a function block in a js file it prints out ```['jsParen', 'jsFuncBlock', 'jsParen', 'jsFu

[2015-12-07 12:32] sassanh commented on #328
Ok, I guess you should add to the documentation that folding works if you set foldmethod to syntax.

[2015-12-07 19:06] davidchambers commented on #328
Would you like to submit a pull request to update __README.md__, @sassanh?

[2015-12-08 12:37] sassanh commented on #328
@davidchambers sure, will do in coming days.

[2015-12-10 17:01] ksmithbaylor opened #329 "Better ternary operator support"
I use ternary expressions a lot, as part of a more functional "assign-once" style. But I always have to manually adjust my indentation and make sure to never accidentally auto-indent the parts of my code that use them. Here's the indentation I would like to use:

[code]
[code]
[code]

However, the current implementation indents this code like so:

[code]
[code]
[code]

[2015-12-10 19:52] ksmithbaylor opened #330 "Arrow functions in object literals"
Currently, if an object literal contains an arrow function as one of its values, the next line is indented one level too much:

[code]

It should be:

[code]

[2015-12-10 19:53] ksmithbaylor opened #331 "Arrow functions in object literals"
Currently, if an object literal contains an arrow function as one of its values, the next line is indented one level too much:

[code]

It should be:

[code]

[2015-12-10 19:59] davidchambers commented on #331
Duplicate of #330

[2015-12-10 19:59] #331 closed

[2015-12-10 19:59] ksmithbaylor commented on #331
Oops! Sorry.

[2015-12-10 20:03] ksmithbaylor opened #332 "Multi-line arrow functions"
Currently, when the body of an arrow function that returns an immediate value is split over multiple lines, the second line (the value) is aligned even with the line above:

[code]

In my opinion, it should be indented one level more than the line on which it started, but still allow the following lines to stay at the same level as before:

[code]

This should also apply to arrow functions defined

[2015-12-17 18:45] MobiusHorizons commented on #322
I can confirm that this happens.

[2015-12-19 19:59] larsbs opened #333 "jsAssignmentExpr not working"
[code]
This doesn't match anything by now and I've seen in previous pull request that this used to work. I'm using https://github.com/gerw/vim-HiLinkTrace to check it.

Look in the bottom bar that HiLinkTrace doesn't show anything when the cursor is positioned in the name of the function.

![vim-javascript](https://cloud.githubusercontent.com/assets/1436588/11914983/4af5c966-a693-11e5-86b1-ed81915

[2015-12-19 20:16] larsbs commented on #333
The offending part of the regex is at the end of `jsAssignmentExpr`. If `\(>\)\@!` is removed, everything work like a charm. What's the purpose of those bits? Not matching `Test.test = (>)`? Why are those parens escaped?

[2015-12-19 20:26] larsbs commented on #333
This is the commit where the last part of the regex was included: https://github.com/pangloss/vim-javascript/commit/325c0487f90707ef3e3669c1125779c7e5734037

[2015-12-23 04:46] Pompeu commented on #198
if i use const or let, my code cant ident T_T

[2015-12-23 10:14] sboehler commented on #322
Indentation of multi-variable declarations is indeed broken. I get something like this with current master (1d8c267):

[code]
While the first var statement is correct, the indentation is not reset after the semicolon.

[2015-12-23 10:18] sboehler commented on #322
+1
Also the indentation is not reset after the extra level.
[code]

[2015-12-24 02:04] zxlin commented on #45
Pardon the ignorance, how do I enable syntax highlighting for braces, because it is still not colored for me. Thanks in advance for the pointer!

[2015-12-24 03:54] amadeus commented on #45
@zxlin you need to assign a color to either the main group `Noise` or to the individual groups themselves (if you want different colors for say square brackets vs curly brackets).

To assign a color to the `Noise` group, do the following in your `.vimrc`:

[code]

`guifg` is for text color
`guibg` is for background color
`gui` is where you can apply `bold`, `italic`, `inverse`, or  `underline`

To

[2015-12-24 04:59] zxlin commented on #45
@amadeus thank you very much for the pointer!
It didn't work initially because I'm using xterm-256color.
Some research yielded the suggestion of using cterm* instead of gui* settings which worked like a charm!

[2015-12-24 16:21] kmckee commented on #34
+1

[2015-12-30 00:11] mbrukman opened #338 "Please add an explicit license file to the repo"
Could you please add an explicit LICENSE file to the repo so that it's clear under what terms the content is provided, and under what terms user contributions are licensed?

Per [GitHub docs on licensing](https://help.github.com/articles/open-source-licensing/#what-happens-if-i-dont-choose-a-license):

Thanks!

[2015-12-30 00:52] davidchambers commented on #338
I believe the original author and all subsequent contributors will need to agree on a licence. This may take some time. ;)

[2015-12-30 23:43] WChargin commented on #75
Am I missing something, or is the following patch all it takes?
[code]

Admittedly, I don't understand what the whole `searchpair` business is supposed to do, but I'm pretty sure I don't want it. Doesn't that patch :arrow_up: just essentially mean "when there's an opening paren/bracket/brace, add one `shiftwidth`," which is exactly what we want?

Of course, we'd probably want to add it as a flag,

[2015-12-30 23:57] WChargin commented on #332
The following patch works for me. Can someone familiar with the repo make sure this seems reasonable? If it does, I'll pull-request it.

[code]

I just added it to the one-liners regex. I had to put it in another non-capturing group so that the `=>` was separate from the `\>`, because `>` doesn't count as a word boundary.

[2015-12-31 00:09] davidchambers commented on #332
This looks reasonable to me. Also, none of the current maintainers is familiar with the indentation-related code, so you may be the closest thing we have to an expert. ;)

[2015-12-31 00:54] WChargin commented on #332
*Expert?* That's a scary thought! :)

I opened #339.

[2015-12-31 02:12] davidchambers commented on #332
Resolved by #339

[2015-12-31 02:12] #332 closed

[2016-01-01 05:03] WChargin commented on #333
The offending characters should read `%(\>)@!`, and I think just `\>@!` should work fine as well.

In normal vim regexes, `\(>\)\@!` means "match the group containing the character `>`, then perform a negative-lookahead," which ends up meaning "fail the match if the next character is `>`." In this case, the author wanted to match `x = 3` but not `x => 3`.

However, this regex has `\v` at the start

[2016-01-01 07:57] davidchambers commented on #333
Thanks for the explanation, @WChargin!

[2016-01-02 04:25] WChargin commented on #327
You can add the following to your `.vimrc`:

[code]

This means "whenever I open a JavaScript file, add `watch` and `log` as keywords under the `jsBuiltins` syntax group"; this group is highlighted like `eval`, `parseInt`, etc.

[2016-01-02 04:28] WChargin commented on #326
Your images 404. Can you paste the text? The following indents properly for me:

[code]

[2016-01-02 04:30] WChargin commented on #319
Also cannot confirm: for me, `echo &isk` is `@,48-57,_,192-255,$` (`:` is `58`), and `git grep 'isk'` yields only `setlocal iskeyword+=$`.

[2016-01-02 04:59] WChargin commented on #323
Your file works for me: `from` matches `jsImportContainer → jsModuleWords` and is highlighted as `PreProc` (same as `import`).

![screenshot](https://cloud.githubusercontent.com/assets/4317806/12073239/54fab4d6-b0c9-11e5-824f-ce738d28ac7c.png)

This is because `jsImportContainer` has `contains=jsBlock`, which matches the whole `{ A, B, C }` (with appropriate newlines). So it's parsed as

    impor

[2016-01-02 17:14] davidchambers commented on #327
Thanks, @WChargin.

[2016-01-02 17:14] #327 closed

[2016-01-02 17:16] #319 closed

[2016-01-02 17:16] #323 closed

[2016-01-08 16:05] hushicai opened #341 "jsDocParam problem"
see `@file`.

![qq 20160108234941](https://cloud.githubusercontent.com/assets/1249423/12202343/51d7435a-b664-11e5-9e6a-982aef09ee97.png)

Is there something wrong?I expect `arrow functions` as comment,but the first word `arrow` is treated as param,and highlighted as Label.

[2016-01-10 07:02] Pompeu commented on #322
i have  similar bug
![vim-const-var](https://cloud.githubusercontent.com/assets/7594343/12220377/49a3cb88-b757-11e5-877b-64ad80bcc9ee.png)

[2016-01-10 07:58] davidchambers commented on #322
I don't have a solution, but I can suggest a workaround:

[code]

This style is objectively better since it results in cleaner diffs when imports are added or removed. :)

[2016-01-11 03:32] damionvega opened #343 "Is `Entity` a keyword I'm unaware of?"
![screen shot 2016-01-10 at 8 28 53 pm](https://cloud.githubusercontent.com/assets/7221494/12226413/d9d82902-b7d8-11e5-81a6-750a86a3b009.png)

[2016-01-11 07:37] davidchambers commented on #343
It's DOM-related, [apparently][1].

[1]: https://github.com/pangloss/vim-javascript/blob/06326d595be14a78d82fdc99b73f9c1f8e869473/syntax/javascript.vim#L149-L151

[2016-01-11 10:55] martin-svk commented on #259
Hello, I see this is pretty old post but I guess `flow` syntax is still not supported, right?
If so, are there any plans of supporting it and what is the time-frame then. Thanks.

[2016-01-11 13:05] WChargin commented on #343
It's an [HTML entity](https://developer.mozilla.org/en-US/docs/Glossary/Entity), like `&amp;` or `&ldquo;`. The [API](https://developer.mozilla.org/en-US/docs/Web/API/Entity) says it's deprecated. It doesn't exist in Chrome 47.

[2016-01-12 21:03] flannelhead commented on #177
Is including this package to Vim still considered?

[2016-01-23 14:57] randunel commented on #139
Had to build my own fix for the dot start https://github.com/randunel/vim-javascript. Would be nice to include something similar in this lib though.

[2016-01-30 03:00] bounceme opened #349 "indentation using other than what is set for sw, ts"
[code]
These examples show that there can be situations where a line is indented from some offset based on the preceding characters, rather than depending on the users ts and sw choices. Also the second example is just very broken looking in general

[2016-01-31 18:55] WChargin commented on #349
The first example is definitely the "expected" behavior: the continuation extends to the last opening delimiter in the line above, as in
[code]
(Personally, I don't like it, and always prefer a constant `&sw` indentation for continuations, but that's what this indenter does.)

The second one is just busted, yeah.

[2016-02-03 00:45] cormacrelf commented on #330
Same thing happens when a function is called with multiple arrow functions as arguments.

[code]

[2016-02-04 07:27] strogonoff commented on #328
To those who still can’t make folding work for them: it won’t work unless you have ``syntax on``.

Interestingly, folding in Python files with klen/python-mode has been working just fine without ``syntax``. It uses ``foldmethod=expr``, apparently.

I thought of looking into making vim-javascript folding work similarly to python-mode (I was going to use vim-javascript for the folds anyway and I don

[2016-02-09 03:47] djmccormick commented on #139
+1

[2016-02-10 11:28] ognivo commented on #184
Same issue, subscribed.

[2016-02-11 18:57] MobiusHorizons commented on #322
^ BUMP

[2016-02-11 19:21] davidchambers commented on #322
There's not much point bumping this issue. None of the maintainers if familiar with the indentation code. We'll welcome a contribution from someone who's willing to get stuck in to figure out how it works and fix some of the [issues][1]. :)

[1]: https://github.com/pangloss/vim-javascript/issues?q=is%3Aopen+is%3Aissue+label%3Aindentation

[2016-02-12 02:25] damionvega commented on #343
Would you like a PR removing `Entity` and adding `Buffer` for Node.js?

138: `syntax keyword jsGlobalObjects Array Boolean ... Buffer`

[2016-02-12 03:53] lvarayut commented on #314
Having the same problem.

[2016-02-12 19:56] ksmithbaylor commented on #139
@randunel Is that something you could make a pull request out of? How well does it work?

[2016-02-14 03:37] davidchambers commented on #343
These changes seem unrelated to me.

Feel free to submit a pull request to add `Buffer` to `jsGlobalObjects`. :)

[2016-02-14 03:57] damionvega commented on #343
They are unrelated. I just figured since I'd already had this issue open, I could take care of both as they're minor.

OK, and keep `Entity`?

Also, I don't get highlighting for anything in line 34, perhaps it's just me?
`syntax keyword jsOperator       delete instanceof typeof void new in`

[2016-02-14 06:06] damionvega commented on #343
Third time's a charm ;)

[2016-02-14 06:19] davidchambers commented on #343
These keywords are highlighted for me. Perhaps your colour scheme is at fault.

[2016-02-14 15:28] damionvega commented on #343
I figured so. Thanks.

[2016-02-14 15:28] #343 closed

[2016-02-22 16:11] qstrahl commented on #338
Paging @pangloss ... and while I'm at it, let's page @davidchambers and @amadeus and @goatslacker

My usual go-to license for vim projects is to release it under the same terms as vim itself, as laid out under `:help license`. What do y'all think?

[2016-02-22 16:59] davidchambers commented on #338
Sounds good to me!

[2016-02-22 19:43] bounceme commented on #349
Well, i think that this is actually recommended for npm style code: https://docs.npmjs.com/misc/coding-style
but the returned text,and also the ending delimiter if it is on it's own line, should be aligned to the opening delimiter

[2016-02-22 20:00] #291 closed

[2016-02-22 20:03] camsteffen commented on #192
This is fixed with #293

[2016-02-22 22:23] WChargin commented on #338
:+1: for my contributions. Let me know if I need to sign anything…

[2016-02-22 22:53] davidchambers commented on #192
Thanks, @camsteffen!

[2016-02-22 22:53] #192 closed

[2016-02-22 23:03] pangloss commented on #338
Oh, I thought there was a license in place... I'm happy with any open source license that you guys agree upon.

[2016-02-22 23:41] iryan2 commented on #329
This is something I regularly run in to as well, just thought I'd voice my support for this issue.

[2016-02-23 08:00] bounceme commented on #349
this is closable,having the vertical alignment seems like a benefit if it is what npm recommends.I'd like this indent script also vertically align the terminal delimiter however but that is another issue.Thank you!

[2016-02-23 18:54] jslatts commented on #329
This is something that I run into as well. I have been running locally with this patch: jslatts/vim-javascript/b4b393646e54809cba5113f1a9d621ba564374ff

It gets close, but doesn't totally handle some of my use cases with JSX. I also don't know if it has any adverse side effects since I am not familiar with vim-script. Happy to make it a PR if the maintainers think it is ok.

[2016-02-25 17:31] #349 closed

[2016-03-01 06:47] mistercrunch commented on #139
+1

[2016-03-04 17:06] ucokfm commented on #261
Here my temporary quick fix, edit **vim-javascript/syntax/javascript.vim**:

**at line 118 insert:**
`syntax match   jsClassMethod      /\<\(function\)\@![a-zA-Z_$][0-9a-zA-Z_$]*\>\s*\((\(\s*\<[a-z, ]*\>\s*)\)*\)\@=/ contained`

**at line 197 add jsClassMethod to existing list:**
`syntax cluster jsExpression contains=jsComment,...,...,jsClassMethod`

**at line 312 insert:**
`HiLink jsClassMethod

[2016-03-11 23:33] robjens commented on #326
I'm having offbeat indents as well, or at least, I would suspect that e.g. a long destructuring statement a la

[code]
given a cursor position `= R;_` on enter would bring the cursor to the first level of the next line. Only it indents to the first position (4 spaces in my case).

[code]

Arguably, the plugin, onmost occasions it seems to me, can ignore the presence of a `;` semicolon statement se

[2016-03-11 23:44] robjens commented on #329
I guess this is the same indention problem I've tried to describe in #326

[2016-03-12 10:38] robjens commented on #322
I can't seem to duplicate this behavior. To me it actually does indent as it is supposed to, both with lead comma and eol.

[code]

I just noticed something odd though, this does *not* happen with `let` keyword usage:

[code]

I may take a closer look although `vimL`... meh *shrugs* rather learn emacs lol.

[2016-03-12 11:21] robjens commented on #326
See where I referenced this, deleted the comment since I used to have a different version in my vundle and had different behavior. Apparently, it is the `select ... case` indent which screws up the multi-line variable (var, let, const) assignment. I noticed this because the other version I found didn't have this problem but originate from the same base. After adding in to that file, the (var|let|c

[2016-03-13 15:48] lencioni commented on #316
I ran into this problem and noticed that it looks like it might already be fixed in the develop branch. Do you have any idea on when this will hit master?

[2016-03-13 21:07] #316 closed

[2016-03-13 21:08] simono commented on #316
Yes, this was fixed in #342. I'm not sure if a release is planned.

[2016-03-23 00:16] pmpbar opened #355 "Multiple require statements don't indent correctly"
When using the single var syntax for multiple require statements the indentation is broken.
What it should do:
![image](https://cloud.githubusercontent.com/assets/3513897/13971959/fc27c4ea-f059-11e5-9448-19c51b01cd2c.png)

What it does:
![image](https://cloud.githubusercontent.com/assets/3513897/13971970/2525c8ba-f05a-11e5-92ab-3ab1712ad282.png)

[2016-03-23 00:25] amadeus commented on #355
I believe this has been fixed in the `develop` branch since I currently cannot replicate it.

[2016-03-23 00:37] pmpbar commented on #355
Coolio. Yeah I switched to the develop branch to check first.

[2016-03-25 19:12] sebastianvera commented on #330
+1

[2016-03-29 17:59] chipironcin opened #356 "Syntax Highlighting issue with backticks, parentesis , dollar and curlybraces"
<code>
set testVar = \`Include ${helper.join(varList.htaccessDir, \`${name}-htaccess.conf\`)}\`;
</code>

This sample coee breaks the syntax highlighting for all the document afterwards.
Removing curly braces in `${name}` fix the issue.

[2016-04-01 00:48] neurosnap commented on #330
I had to disable this plugin because of this bug.  Is there any way to disable the "smart" indentation?

![indent](https://cloud.githubusercontent.com/assets/1940365/14194946/ceee26a2-f781-11e5-9575-8ae8521e08d0.gif)

[2016-04-05 18:28] Sonblind opened #362 "Syntax Rendering Issue"
Problem
===
After toggling between insert and command mode in Vim (via iTerm) for any `*.js` file, I get weird refreshing errors. The keys that I hit in command mode are drawn to the screen. See image below:

<img width="595" alt="vim_refresh_error_for_js_files" src="https://cloud.githubusercontent.com/assets/2101499/14263109/d84367dc-fa86-11e5-8d35-5f69613a2800.png">

Those characters are not act

[2016-04-06 20:28] #333 closed

[2016-04-06 20:28] #297 closed

[2016-04-06 20:34] davidchambers opened #364 "jsParensError for parenthesized arrow function"
I just noticed that the closing parens in the following line is marked as `jsParensError`:

    f(() => {});
              ^

The same applies in this case:

    f(() => {
    });
     ^

This also exhibits the problem:

    f((x) => {});
               ^

Interestingly, this does not:

    f(x => {});

When I have a bit more time I will run `git bisect` to determine which change is responsible.

[2016-04-06 20:48] amadeus commented on #364
Good find, this is part of the challenge with arrow functions in general. Finding the specific commit is probably not necessary, I'll take a look.

[2016-04-06 20:56] davidchambers commented on #364
It was something in #363. I've played around a bit, but so far haven't determined exactly which change is responsible.

[2016-04-07 17:26] unclechu commented on #297
@amadeus Thanks a lot!

[2016-04-07 20:26] tomxtobin commented on #364
I just ran into this; it's 36f34b25d63211f1fab20c1f748a3dd070b4c270 according to `git-bisect`.

[2016-04-07 20:35] tomxtobin commented on #364
Reverting [this change](https://github.com/pangloss/vim-javascript/commit/36f34b25d63211f1fab20c1f748a3dd070b4c270?diff=unified#diff-af5b29be69c5b34c00e40f13b7e92435R230) fixes the issue:
[code]

[2016-04-07 20:57] tomxtobin commented on #364
It's the greedy `\%(.\)*` inside the arrow parameters' parentheses match. It's consuming too much of the line, including the closing `)` of the parameters.

A quick fix is changing that to the non-greedy equivalent `.{-}` — the Vim equivalent of PCRE's `.*?` — but then you're still matching unbalanced parentheses and whatnot. (We don't need the surrounding `\%(` and `\)` either way.)

[2016-04-07 21:41] davidchambers commented on #364
Thanks for investigating, @tomxtobin!

It's not valid to have `(` or `)` characters in the first elision of `(…) => {…}`, though, so we needn't worry about balancing parens. Perhaps all we need to do is replace the `.*` with `[^()]*` (or whatever the Vim equivalent of this PCRE is).

[2016-04-07 22:31] amadeus commented on #364
@davidchambers I think it is valid to have something like:

[code]

Ideally the requirements for this regex are:

* Cannot be contained
* Must allow pretty much every type of expression
* Needs to be matched differently than `jsParen`
* Handle destructuring

Some crazier examples that make this regex really hard to do right:

[code]

[2016-04-07 22:33] davidchambers commented on #364
Oh! I wasn't aware of this, @amadeus. The problem is trickier than I imagined.

[2016-04-07 22:36] amadeus commented on #364
I mean, to be fair, just because people could write such shitty and hard to read code, doesn't mean they should.

To paraphrase a brilliant friend of mine, we may be reaching the limits of a regex can interpret in a complex language.

[2016-04-07 22:38] amadeus commented on #364
Like, ideally, `jsArrowFuncArgs` should probably be `region`, not a match. But in all my trial and error of trying out different regex combinations, and priorities, I have yet to find something that works in all cases.

[2016-04-09 20:07] Kareeeeem opened #365 "Arrow function problems in classes"
Hi, I updated my plugins today and I encountered an error.

When putting arrow functions inside (react) classes it breaks highlighting and also matchfinding of braces.

This is what was working fine before. Notice the messed up highlighting and the last brace of the class that is mistakenly highlighted as an error.
![screenshot 2016-04-09 at 22 01 49](https://cloud.githubusercontent.com/assets/292

[2016-04-09 21:26] Kareeeeem commented on #365
I saw vim-plug supports specifying commits and I just went back in time and the issue persists.

I don't get it though because I've been working on this project for a while and today is the first time the highlighting broke.

[2016-04-09 21:36] amadeus commented on #365
@Kareeeeem I think the reason I missed this, is because technically this feature is something from ES7, not ES6. I have a fix ready for this, although it does make me wonder what other ES7 things should be supported that might not be currently?

[2016-04-09 21:37] amadeus commented on #365
I have created a fix for this in #366

[2016-04-09 21:55] Kareeeeem commented on #365
Wow that was quick. And i just installed it to check and it works.

However though as I mentioned above. I have been working on this project for a while and the highlighting broke today. I'm stumped. Anyways I'll keep your fork installed until it's merged. Thanks!

[2016-04-10 15:39] ruiafonsopereira opened #368 "Bad syntax highlighting for comments inside arrow function"
After the last update, the comments inside arrow functions are not highlighted correctly. Consider the following screenshot as an example.

![screen shot 2016-04-10 at 16 33 14](https://cloud.githubusercontent.com/assets/3859158/14411235/fe68caf8-ff39-11e5-91ac-d34e5e6fc5f2.png)

[2016-04-11 06:00] amadeus commented on #368
Is this an arrow function declaration within a class definition? If so, then it's a duplicate of #365 and I have a PR ready at #366

[2016-04-11 06:07] amadeus commented on #330
This should be fixed in `develop`

[2016-04-11 06:07] #330 closed

[2016-04-11 06:09] amadeus commented on #307
This should be fixed in `develop`

[2016-04-11 06:09] #307 closed

[2016-04-11 06:10] amadeus commented on #355
This should be fixed in `develop`

[2016-04-11 06:10] #355 closed

[2016-04-11 06:11] amadeus commented on #365
@Kareeeeem the reason it appeared broken recently, is we just recently merged a bunch of stuff into the `master` branch, and thus you saw it all of a sudden.

[2016-04-11 06:11] amadeus commented on #368
Bump: Ya'll maintainers cool if I go ahead and merge this in? It's a pretty quick and simple fix.

[2016-04-11 06:13] amadeus commented on #356
I think this issue has been fixed with the recent changes merged into `master`. If not, please comment here and I can re-open.

[2016-04-11 06:13] #356 closed

[2016-04-11 06:18] amadeus commented on #329
The first example case you have provided should be fixed in `develop`, the other ones are still issues.

Part of the challenge with this is that one size may not be able to fit all, to do it right there might have to be various modes that the indent file is put into, like comma first mode or whatever.

Unfortunately, none of the maintainers know much about the indent side of things, it was an inhe

[2016-04-11 08:39] ruiafonsopereira commented on #368
@amadeus, yes, it is within a class definition. Before opening I took a look at that issue and I didn't see the comments in your example. My bad. Sorry for the duplication.

[2016-04-11 20:22] ruiafonsopereira commented on #368
Fixed by #366 .

[2016-04-11 20:23] #368 closed

[2016-04-11 20:41] amadeus commented on #365
This issue should now be fixed in `develop`

[2016-04-11 20:41] #365 closed

[2016-04-11 23:08] chipironcin commented on #356
Fixed! Many thanks!
(I pulled right before this issue to make sure about it)

[2016-04-12 09:58] chipironcin opened #372 "Bad syntax highlighting and braces-matching when comments with braces"
A specific situation cause the syntax highligting to fail a bit and wrongly matches closing braces.
Happens when inside curly braces you have another function with curly braces that has a block comments with '@' and curly braces in it too.

Sample code, wrongly matching last curly brace:
[code]

[2016-04-12 22:06] bounceme commented on #326
closable?

[2016-04-12 22:10] amadeus commented on #326
Yup, looks fixed to me!

[2016-04-12 22:10] #326 closed

[2016-04-14 21:51] iansinnott opened #376 "Destructuring Arrays as function args"
When destructuring an array within a function definition I'm seeing the array brackets getting highlighted as `jsFuncArgs`. However, object destructuring seems to work fine:

[code]

Any thoughts on what's going on here?

[2016-04-14 21:54] amadeus commented on #376
There appears to be extra parenthesis in your example? However, your example still shows the issue correctly if I remove the extra opening parenthesis.

[2016-04-14 22:02] iansinnott commented on #376
Ah yes, thanks for catching that @amadeus

[2016-04-14 22:02] amadeus commented on #376
@iansinnott I have a fix at #377

[2016-04-14 22:04] iansinnott commented on #376
Nice! Thank you @amadeus. That response time... 👏

Looking forward to updating once it's merged.

[2016-04-15 15:05] unclechu opened #378 "Function call brackets closes incorrectly when have ES6 arrow function as argument"
I hope this screenshots will explain a lot:
![bug with ES6 arrow function](http://pix.toile-libre.org/upload/original/1460732419.png)
![works correctly with usual function](http://pix.toile-libre.org/upload/original/1460732448.png)
Here the text example:
- ES6 arrow bug: it**(**'_.blind(**)**', () => {}<em>)</em>;
- Usual function: it**(**'_.blind()', function () {}**)**;

[2016-04-15 15:34] amadeus commented on #378
Yup, known issue. We'll get a fix out shortly!

[2016-04-16 04:32] bounceme commented on #73
With the develop branch I can't reproduce any of these examples

[2016-04-16 04:47] bounceme commented on #329
I'm for merging @jslatts solution as long as there aren't bad side effects

[2016-04-18 04:08] amadeus commented on #376
A fix for this has been merged into `develop`

[2016-04-18 04:08] #376 closed

[2016-04-18 04:10] amadeus commented on #364
Ok, so this issues is pretty bad, and I think a good workaround in the meantime, until we can get it properly fixed is to comment out the `jsArrowFuncArgs` match that incorporates parenthesis. At the very least people won't see those major red errors.

[2016-04-18 13:44] unclechu commented on #378
May be it's same issue:
![Issue demonstration screenshot](http://pix.toile-libre.org/upload/original/1460986854.png)
First `=>` wasn't highlighted.

[2016-04-18 16:37] jslatts commented on #329
FWIW, I have been using my patch since February without any side effects (that I have noticed). It doesn't help most of the time because I tend to use the ternary statements with JSX elements which still format poorly.

[2016-04-18 18:20] bounceme commented on #329
Maybe we could use the same logic with every type of operator first?

[2016-04-18 18:50] amadeus commented on #329
@jslatts can you make a PR with this change? I would recommend rebasing `develop` into it first though.

[2016-04-19 20:32] amadeus commented on #364
So, I've been playing with things a bit, and I have something that works pretty well, with a few caveats:

https://github.com/amadeus/vim-javascript/tree/lambda-experiments

Some notes:

1. It fixes all examples posted above - EXCEPT multiline
2. You cannot use parenthesis inside a destructuring statement (this includes creating another lambda statement

I've done some research into other editors,

[2016-04-20 21:14] amadeus commented on #65
Can we add @bounceme as a collaborator, please?

[2016-04-20 21:19] amadeus commented on #378
Things should be sort of fixed for now in `develop`.

@unclechu I am working on another PR to bring some of the old functionality back, do you mind posting your screenshot snippets as code examples? So I can work them into a test file for the next update?

The more crazier examples you can provide that you actually end up using, would be super helpful!

[2016-04-20 21:20] amadeus commented on #372
This should be fixed in `develop`

[2016-04-20 21:20] #372 closed

[2016-04-20 21:43] amadeus commented on #329
I think we can mark this issue resolved. All the issues described seem to be rectified in the `develop` branch.

There is a small caveat however, in the middle example:

[code]

a manual `tab` indent will be required after every carriage return when typing the ternary  since we can never determine if a developer has decided to rely on ASI or not.

However, the issue pointed out here:

[code]

Wher

[2016-04-20 21:43] #329 closed

[2016-04-20 21:46] amadeus commented on #322
This issue should be resolved in `develop`

[2016-04-20 21:46] #322 closed

[2016-04-20 21:48] amadeus commented on #321
This issue appears to be fixed in `develop`

[2016-04-20 21:48] #321 closed

[2016-04-20 21:49] amadeus commented on #315
This issue appears to be fixed in `develop`

[2016-04-20 21:49] #315 closed

[2016-04-20 21:50] amadeus commented on #284
This appears to be fixed in `develop`

[2016-04-20 21:50] #284 closed

[2016-04-20 21:55] amadeus commented on #257
This should be fixed in `develop`

[2016-04-20 21:55] #257 closed

[2016-04-20 21:56] amadeus commented on #324
@bounceme it appears some of the fixes we have in place, do not function when `gg=G` is used. Everything works fine when you type out the examples manually however. Any ideas?

[2016-04-20 21:58] drichardson commented on #322
@amadeus yup, verified fixed in c4725ca4d95502054e7159c

[2016-04-20 21:58] amadeus commented on #338
Fixed in `develop`

[2016-04-20 21:58] #338 closed

[2016-04-20 22:28] amadeus commented on #73
Yup, this does appear fixed!

[2016-04-20 22:28] #73 closed

[2016-04-21 11:45] chipironcin commented on #372
I attest this works on `develop` branch.
Thanks @amadeus
I hope it gets merged soon 😛

[2016-04-21 13:24] jackfranklin commented on #378
@amadeus just wanted to say thanks for your work on this, and generally for your work on this repo. As a user it's awesome to see issues being fixed so quickly, and I really appreciate it :)

[2016-04-21 18:00] unclechu commented on #378
@amadeus
[code]
[code]

[2016-04-22 04:07] amadeus commented on #324
This issue should be fixed in `develop`, by #390

[2016-04-22 04:07] #324 closed

[2016-04-22 04:09] amadeus commented on #314
This should be fixed in `develop`

[2016-04-22 04:09] #314 closed

[2016-04-22 09:50] unclechu commented on #378
@amadeus
[code]

[2016-04-22 13:47] chiedo commented on #314
Great @amadeus
Any idea when this will be merged to master?

[2016-04-22 16:50] daGrevis opened #393 "Object on ES7 Class Highlights Closing Bracket Red"
![Preview][preview]

[preview]: http://i.imgur.com/h0T0Oix.png

When you define an object on ES6 class, closing bracket of that object will get highlighted in red. When you define a number, a string, an array or a lambda instead, everything works.

[code]

You can reproduce this on `master` branch.

[2016-04-22 19:42] amadeus commented on #314
@chiedo not sure, but if you are using a plugin manager with vim and want to more easily stay up to date, just cd into the vim-javascript directory and checkout the `develop` branch. The plugin manager should just keep you up to date from there!

[2016-04-22 19:43] chiedo commented on #314
Thanks @amadeus :)

[2016-04-22 19:44] amadeus commented on #378
@unclechu these are great, thanks!

[2016-04-22 20:00] eddiezane commented on #393
Also reproducible on `develop`

[2016-04-22 22:17] amadeus commented on #393
I believe this is actually ES7 functionality? Which we've slowly been adding, but we are a bit behind there.

[2016-04-22 22:18] amadeus commented on #378
This issue should be fixed in `develop`

[2016-04-22 22:18] #378 closed

[2016-04-22 22:18] amadeus commented on #364
A basic version of this is fixed in `develop`

[2016-04-22 22:18] #364 closed

[2016-04-22 23:02] amadeus commented on #341
So is the issue here that simply `@file` should not trigger a highlight after it, and should mimi `@author`?

I don't really have any experience with JSDocs, but I I think I have a super simple solution if this is all that's required?

[2016-04-23 02:18] xwendotnet commented on #393
I have same problem when lambda as second parameter.

![screen shot 2016-04-23 at 10 16 59](https://cloud.githubusercontent.com/assets/7343175/14758748/97994912-093c-11e6-8bea-940779842566.png)

[2016-04-23 02:32] eddiezane commented on #393
@xwendotnet think your issue is different and fixed `develop`.

[2016-04-23 03:52] amadeus commented on #393
@xwendotnet yes, that is a different issue and what @eddiezane said, it should now be fixed!

[2016-04-23 03:52] amadeus commented on #393
*in the 'develop' branch

[2016-04-23 11:42] unclechu commented on #378
Also arrow function single argument without brackets example:
[code]
[code]

[2016-04-23 13:43] xwendotnet commented on #393
@amadeus thank you, I will checkout that branch

[2016-04-24 01:44] pangloss commented on #65
done

[2016-04-24 09:12] amadeus commented on #65
Thanks!

[2016-04-24 09:16] amadeus commented on #341
Fixed in `develop`

[2016-04-24 09:17] #341 closed

[2016-04-24 09:21] #298 closed

[2016-04-24 09:23] #282 closed

[2016-04-24 09:23] #289 closed

[2016-04-24 09:24] #255 closed

[2016-04-24 09:26] amadeus commented on #362
I have no idea what could be causing this issue, and I've never come across it before. I'm inclined to think it could be something related to the particular version of Vim you might be running or some other JS type plugin. Not sure what to say, unfortunatel :(

[2016-04-24 09:26] #362 closed

[2016-04-24 09:27] #328 closed

[2016-04-24 09:28] amadeus commented on #318
I am personally not in favor if trying to add Flow support. However if there is another collaborator who'd like to take it on, we could certainly discuss re-opening this.

[2016-04-24 09:29] amadeus commented on #311
Oops, we'll be pushing out a new release soon, and I'll fix up the release tags then, thanks for the heads up!

[2016-04-24 09:29] #311 closed

[2016-04-24 09:32] amadeus commented on #300
I believe this is fixed in `develop`

[2016-04-24 09:32] #300 closed

[2016-04-24 09:35] #256 closed

[2016-04-24 09:36] amadeus commented on #271
This first example should be fixed in `develop`, the second example is a duplicate of #261

[2016-04-24 09:36] #271 closed

[2016-04-24 09:39] amadeus commented on #259
Closing this issue because I don't think this is something any of the current collaborators are willing to take on.

[2016-04-24 09:39] #259 closed

[2016-04-24 09:40] amadeus commented on #253
This should currently be fixed in `develop`

[2016-04-24 09:40] #253 closed

[2016-04-24 09:41] amadeus commented on #235
Should be fixed in `develop`

[2016-04-24 09:41] #235 closed

[2016-04-24 09:42] amadeus commented on #202
Should be fixed in `develop`

[2016-04-24 09:42] #202 closed

[2016-04-24 09:44] #195 closed

[2016-04-24 09:46] amadeus commented on #193
Should be fixed in `develop`

[2016-04-24 09:46] #193 closed

[2016-04-24 09:49] amadeus commented on #189
So, this is a bit strange to me. If you actually create line breaks where they belong, everything seems to work as expected. This has very strange line break places, so I am not sure if this is something we could reasonably fix. If you have some follow up information that can shed a bit more light and give us a better reason to fix this, let me know, we can certainly discuss re-opening.

[2016-04-24 09:49] #189 closed

[2016-04-24 09:50] amadeus commented on #161
Pretty sure this issue has been fixed in `develop`

[2016-04-24 09:50] #161 closed

[2016-04-24 10:05] #89 closed

[2016-04-24 10:11] amadeus commented on #65
Also @pangloss, there's a new feature now in Github where you can set branches to be Protecte, so they can't be deleted or force pushed too.

I'd suggest at the very least that master gets set as protected to prevent any accidental herp derps.

[2016-04-24 10:22] amadeus commented on #34
Should be fixed in `develop`

[2016-04-24 10:22] #34 closed

[2016-04-24 10:29] amadeus commented on #120
This is obviously a super old issue and everything, and I doubt anyone seriously wants to take on a major rehaul of this syntax file at this juncture, however, just browsing it now, one small thing I think we can do - rid ourselves of `jsExpression` and merge it into the `jsAll` cluster. There doesn't seem to be any valid need for `jsExpression`, and in fact, it gets even worse because `jsAll` inc

[2016-04-24 10:29] #120 closed

[2016-04-24 10:43] #106 closed

[2016-04-24 10:43] #152 closed

[2016-04-24 10:45] amadeus commented on #290
Since this is a duplicate of #180, closing.

[2016-04-24 10:45] #290 closed

[2016-04-24 10:46] #101 closed

[2016-04-24 10:48] amadeus commented on #57
The function argument stuff should be fixed in `develop`, however there are still some issues with switch cases

[2016-04-24 10:51] amadeus commented on #57
@bounceme here's an example of a messed up switch case:

Desired output:
[code]

Resulting output:
[code]

[2016-04-24 10:51] amadeus commented on #155
Fixed in `develop`

[2016-04-24 10:51] #155 closed

[2016-04-24 10:53] amadeus commented on #74
Should be fixed in `develop`

[2016-04-24 10:53] #74 closed

[2016-04-24 12:34] daGrevis commented on #393
From [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes): “JavaScript classes are introduced in ECMAScript 6“.

Thanks!

[2016-04-24 17:40] bounceme commented on #60
#396

[2016-04-24 17:50] amadeus commented on #393
@daGrevis I should have been more clear. We support ES6 classes. The syntax here is actually new stuff added into ES7. If you look through that entire article, you won't find any examples of 'prop = val'

ES6 Classes only support functions in the definition.

[2016-04-24 18:05] amadeus commented on #60
Fixed in `develop`

[2016-04-24 18:05] #60 closed

[2016-04-25 09:13] daGrevis commented on #393
Ah, I see. My bad. :smile:

[2016-04-25 15:05] Sonblind commented on #362
Ok, thanks for taking a look at it @amadeus

[2016-04-25 18:50] #320 closed

[2016-04-26 08:59] unclechu commented on #298
Now it works fine, thanks a lot!

[2016-04-26 09:02] unclechu commented on #378
@amadeus now it works nice, thanks a lot!

[2016-04-26 10:22] harg opened #401 "Unnamed classes"
Unamed classes are not properly handled. See the screenshot below :

![js_unnamed_class](https://cloud.githubusercontent.com/assets/34398/14814952/f7439e94-0ba8-11e6-84ca-0246081bcb0f.png)

https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Classes

BTW thanks for your work on this syntax definition!

[2016-04-26 13:12] megapctr commented on #401
why not just declare the class like this? `class Polygon {...}`

[2016-04-26 14:54] harg commented on #401
I'm playing with es2015 classes and I noticed it...
I'm not aware of any usecases for this right now... maybe anonymous inner classes "ala" Java...

[code]

[2016-04-26 20:10] amadeus commented on #401
@megapctr @harg I agree that it's perhaps a bit weird to define a class without a name, but we should still support it for sure, since it's valid syntax

[2016-04-26 20:21] amadeus commented on #401
It's a pretty simple fix, see #402

[2016-04-27 03:13] amadeus commented on #401
Should be fixed in the `develop` branch

[2016-04-27 03:13] #401 closed

[2016-04-27 23:36] amadeus commented on #261
Should be fixed in `develop`

[2016-04-27 23:36] #261 closed

[2016-04-29 01:47] aguerere opened #405 "Error on vim launch"
Hi guys!

I am getting the following error from vim upon loading a .js file, using your plugin.
I am running OS X 10.11.4, and the regular Terminal.app .

![vim-error](https://cloud.githubusercontent.com/assets/14084214/14906575/a2c7c842-0d86-11e6-8815-2259916943fa.png)

[2016-04-29 01:54] bounceme commented on #405
Oh, it's a problem with the byte limiting, @amadeus. this is only available on a newer vim version. Default vi bundled with OS X is also too old

[2016-04-29 02:01] bounceme commented on #405
if you want to manually fix this delete the all occurrences of '50' on line 100

[2016-04-29 02:04] aguerere commented on #405
That works beautifully! Thanks @bounceme , shame on you Apple! Haha

[2016-04-29 02:50] amadeus commented on #405
Gonna re-open this because we should come up with a fix for this.

@bounceme are you familiar with any way to feature detect for this?

[2016-04-29 02:58] bounceme commented on #405
https://github.com/kballard/vim-swift/blob/master/syntax/swift.vim#L12
 Maybe this is too much though

[2016-04-29 03:00] amadeus commented on #405
This is a good start, I'll look into coming up with a fix for this over the next day or so

[2016-04-29 03:40] starsirius commented on #405
+1 Thanks, guys!

[2016-04-29 14:58] qstrahl opened #406 "Messed up function call highlighting"
I'm not sure when this started, but recently the highlighting for function calls has been messed up. Example:

[code]

If you keep nesting `if`s, it keeps cycling between correct and wrong highlighting.

[2016-04-29 15:13] metasyntax opened #407 "Multi-line comment indentation broken inside parens, braces"
I think this is due to a relatively recent change in master. Indenting the second and third lines of the comment now does this:

[code]

Thanks for looking.

[2016-04-29 18:18] amadeus commented on #406
Yup, this is a bug I just noticed last night introduced by c4ccee6950c465d2a78c9f0b284a6ccf1b48a1a4

I should probably comment those two new lines out, until I figure out a better fix.

[2016-04-29 18:18] bounceme commented on #407
Hey, it is kind of a naive solution but you can use #408,i'll be improving it when I can because I notice a few minor bugs already

[2016-04-29 18:22] amadeus commented on #406
@qstrahl #409 fixes this issue. This only exists as a bug in `develop` currently.

[2016-04-29 20:42] #406 closed

[2016-04-30 01:16] bounceme commented on #407
fixed in the develop branch

[2016-04-30 01:16] #407 closed

[2016-04-30 06:56] bounceme commented on #57
closing since these examples all are correctly indented with the develop branch

[2016-04-30 06:56] #57 closed

[2016-04-30 06:59] bounceme commented on #36
issue resolved in develop

[2016-04-30 06:59] #36 closed

[2016-04-30 07:03] bounceme commented on #139
a problem no longer

[2016-04-30 07:03] #139 closed

[2016-04-30 16:48] jeffrom commented on #139
A hero in our time

[2016-05-01 01:21] andykais opened #410 "called functions not highlighted"
after looking through previous issues, like [this one](https://github.com/pangloss/vim-javascript/issues/406), it seems that functions should be highlighted in all cases, and be the same color. Called functions are not for my editor however. Running vim-gtk 7.4 (2013 Aug 10, compiled Jan  2 2014 19:39:59). Colorscheme [seoul256](https://github.com/junegunn/seoul256.vim). I have confirmed the same

[2016-05-01 01:55] amadeus commented on #410
So a couple things. What branch are you on? If you are on `develop`, make sure you are up to date.

Function definitions are not highlighted the same as function calls.

Function calls are not actually linked to anything, and would need to manually highlight them using the `jsFuncCall` group.

[2016-05-01 06:52] bounceme commented on #198
https://github.com/pangloss/vim-javascript/issues/198#issuecomment-166802619
please update as this is fixed

[2016-05-01 11:19] andykais commented on #410
so this is normal behavior? I am using the vim-plug package manager and I can confirm the result is the same on both `master` and `develop` branch. It seems like this should be a normal behaviour, Atom, for example, has this behavior by default.

![screenshot 60](https://cloud.githubusercontent.com/assets/6627147/14941518/16389e68-0f9f-11e6-94ac-ab855bb668ef.png)

If I need to define it myself, ca

[2016-05-01 11:57] budkin opened #411 "indentation bug"
If there is a parenthesis between quotes within an `if` or `while` statement the next line is not indented, as in `if (c = "(")`
https://i.imgur.com/PEzpSwW.png

[2016-05-01 12:26] budkin commented on #411
also, if a `case` in a `switch` statement contains an `if` or `while` the next line is unindented like it expects another `case`
https://i.imgur.com/1jIqKtt.png

[2016-05-01 17:10] bounceme commented on #411
The second issue should be corrected in develop, can you confirm this?i will be try  to replace the regex based parantheses detection

[2016-05-01 17:40] budkin commented on #411
Yes, the second issue is resolved in develop branch, switched to it, thank you

[2016-05-01 21:42] bounceme commented on #411
On the parentheses issue, a solution to this would require several changes throughout the indent script,I invite anyone to enlist and do it otherwise you may be waiting a while, I recommend reading ```h search pair```

[2016-05-02 18:31] drodrigo opened #413 "Error detected while processing foobar/javascript.vim"
Hello,

I updated my plugins today and this error is thrown:

E59: invalid character after \@
E475: Invalid argument: jsRegexpString     start=+\%(\%(\%(return\|case\)\s\+\)\@50<=\|\%(\%([)\]"']\|\d\|\w\)\s*\)\@50<!\)/\(\*\|/\)\@!+ skip=+\\.\|\[\%(\\.\|[^]]\)*\]+ end=+/[gimy]\{,4}+ contains=
jsRegexpCharClass,jsRegexpGroup,@jsRegexpSpecial,@htmlPreproc oneline keepend

I can't really tell what thi

[2016-05-02 18:46] amadeus commented on #413
This is because you are using an older version of vim and we recently pushed out a change. I am about to merge something into the `develop` branch that will fix this.

[2016-05-02 18:47] amadeus commented on #413
If you checkout the `develop` branch, this should be fixed.

[2016-05-02 18:47] #413 closed

[2016-05-02 19:03] #411 closed

[2016-05-02 21:36] bounceme commented on #405
I also think we could look into ```h /\%#=``` for setting the old 'regexpengine' on early 7.4 versions of vim.then we could remove that section from the readme

[2016-05-03 13:27] drodrigo commented on #413
Thanks, it works now!

[2016-05-03 19:42] dmitriyK1 opened #415 "Conceal glyph problems"
Some characters (arrow function, NaN etc.) doesn't work with my current font (Consolas), what font should I use in order to get them displayed properly?

![conceal](https://cloud.githubusercontent.com/assets/3366893/14995970/427d3f50-1180-11e6-8335-c6309744b0df.jpg)

[2016-05-03 22:40] amadeus opened #416 "Repo Transfer Proposal"
Since the owner @pangloss is no longer active in maintaining this repo and it is now, more or less, maintained by the community, I thought it could perhaps be a good idea (assuming @pangloss is ok with it, and same with the rest of the maintainers here) to create a new `vim-javascript` organization and have this repo transferred to it.

I looked into the docs regarding repo transfers and I can't r

[2016-05-03 23:00] davidchambers commented on #416
If @pangloss is in favour of the proposal let's do it. I recently transferred a number of repositories to the @sanctuary-js organization and the move went smoothly. It's now much easier to add collaborators. The same benefit would apply here too (as you pointed out, @amadeus).

[2016-05-04 00:37] bounceme commented on #416
I agree, with pangloss' approval. The past few months have seen few changes by pangloss, passing the repo over seems appropriate as there is a lot of new work that has been done, and as this is a somewhat active repo, convenient

[2016-05-04 10:34] andykais commented on #410
I have a solution to my initial problem, which is to highlight the `jsFuncCall` group as you mentioned. This is not a good solution however, because that will overwrite any other highlighting of groups like `jsBuiltins` I personally define, like node.js builtins:

[code]

 or groups defined from [vim-javascript-syntax](https://github.com/jelera/vim-javascript-syntax) such as `document.getElementBy

[2016-05-04 21:21] jnsn opened #418 "Object definition before constructor confuses highlighting functionality"
I am using [vim-javascript](https://github.com/pangloss/vim-javascript) and [vim-jsx](https://github.com/mxw/vim-jsx) to support ReactJS highlighting in Vim, but I'm suffering from some code highlight issues when defining objects before the constructor call. Then it looses the highlighting functionality.

Given the following code:

[code]

When the `propTypes` object is defined, the highlighting g

[2016-05-04 22:24] amadeus commented on #418
So technically this is an ES7 definition, using `=` sign. Similar to #393

[2016-05-05 06:43] jnsn commented on #418
I thought so.

You can close this as a duplicate then.

[2016-05-05 17:46] pappasam opened #419 "Indentation - Switch statement has multiple indentation errors"
Indentation is completely broken for the switch statement.

**Problems:**
1) the first case statement indents forward a line
2) indentation for the first item nested below a case statement is much wider than my shiftwidth
3) all subsequent items are the same indentation as the original case line
4) subsequent case statements auto-indent one level in

I would normally just use a different plugin fo

[2016-05-05 18:24] bounceme commented on #419
develop branch,hopefully we'll have a merge to master soon

[2016-05-05 18:24] #419 closed

[2016-05-06 18:39] eddiezane opened #421 "Improper indenting with template strings"
Apologies if this is a duplicate. There are a few still open for indentation that might be the same cause.

Something is wonky when using template strings after a variable.

![screen shot 2016-05-06 at 2 34 53 pm](https://cloud.githubusercontent.com/assets/959573/15082834/ec25cf5e-1397-11e6-9dcf-b2afb006f7eb.png)

![screen shot 2016-05-06 at 2 35 03 pm](https://cloud.githubusercontent.com/assets/9

[2016-05-06 18:41] eddiezane commented on #421
This is on `develop`

[2016-05-06 19:07] bounceme commented on #421
can you paste some examples in markdown code blocks, whatever testing for this you can provide is helpful

[2016-05-06 19:22] eddiezane commented on #421
[code]

[code]

[code]

[code]

[2016-05-07 01:56] bounceme commented on #314
Sorry but I will be altering the behavior slightly, manual indentation will be possible,as it is in strings, but this will be the initial indent:
[code]
this is more accurate as semantic meaning from strings isn't helpful for indenting

[2016-05-07 04:33] #421 closed

[2016-05-08 07:14] bounceme commented on #418
going to close this for now at least

[2016-05-08 07:14] #418 closed

[2016-05-08 16:35] eddiezane opened #423 "Indentation of switch case inside a callback"
On `develop`.

[code]

<img width="519" alt="screen shot 2016-05-08 at 12 36 20 pm" src="https://cloud.githubusercontent.com/assets/959573/15099027/7ff961be-1519-11e6-8985-13b5f1802591.png">

[2016-05-08 17:25] bounceme commented on #423
I see some problems with indenting with your example, but not actually the same as you, check to see what your cinoptions are, https://github.com/pangloss/vim-javascript/pull/400#issuecomment-214596214

[2016-05-08 17:37] bounceme commented on #423
oh never mind, i also see this

[2016-05-08 17:51] bounceme commented on #423
I suspect this is fixed!

[2016-05-08 18:13] paxunix opened #425 "Incorrect highlighting when defining a computed method"
[code]
The current highlighter thinks the method body is jsClassBlock so its entire highlighting is thrown off.

[2016-05-09 00:24] #423 closed

[2016-05-09 03:19] #86 closed

[2016-05-09 10:27] amadeus commented on #410
You're bringing up a valid point, however I am not sure that it is within scope of this project. Ultimately the way Vim syntax highlighting works is through very basic regexes. Its goal is not to necessarily parse out crazy context aware patterns in your JS code, like you provided examples of above, but to simply match based on commonly used patterns. There are many limits and exceptions to this,

[2016-05-09 10:27] #410 closed

[2016-05-09 10:31] amadeus commented on #425
I believe this is some form of ES7 level functionality? I will look into it as I look to add ES7 support. Thanks for posting the issue!

[2016-05-09 10:33] amadeus commented on #415
Unfortunately I do not use concealed characters, and therefore I cannot help you with this issue. I will leave this open for a few more days for better visibility, hopefully someone with more experience in this area can help, but will close it soon as it is outside the scope of this repo.

[2016-05-09 10:36] amadeus commented on #405
Should be fixed on `develop` branch.

[2016-05-09 10:36] #405 closed

[2016-05-09 12:38] dmitriyK1 commented on #415
Thanks for the answer, actually I've resolved this problem recently using DejaVu Sans Mono font from here:
http://dejavu-fonts.org/wiki/Download

[2016-05-09 12:38] #415 closed

[2016-05-09 15:10] tweekmonster opened #427 "Comment indent wrong between braces with othree/yajs.vim installed"
I'm not sure if this is an issue with [yajs](https://github.com/othree/yajs.vim) or not, but reporting here since this plugin provides the indentation.  I have `yajs` loaded before `vim-javascript` in my vimrc.

When a comment is the first line between braces:

[code]

When a comment is not the first line between braces:

[code]

In the second example, `test2` is at the correct indentation only be

[2016-05-09 15:54] bounceme commented on #427
why use more than one syntax plugin?this is not a bug with this plugin so I will close the issue. Thank you for reporting this though as it reminds me to try and reduce the dependence on highlight groups for indentation

[2016-05-09 15:54] #427 closed

[2016-05-09 16:10] tweekmonster commented on #427
@bounceme Did you look at yajs before closing the issue?  It provides ES6+ syntax highlighting but does not provide indentation, which I still want from vim-javascript.

[2016-05-09 18:10] bounceme commented on #427
I have seen the repo before but a likely conflict occurs when you choose to use a different syntax file than the one which this indent file requires to work properly.Having more than one syntax file for the same language means things like loading order might come into play, maybe @amadeus knows more about this?

[2016-05-09 18:38] bounceme commented on #427
You could try https://github.com/gavocanov/vim-js-indent ,which is outdated and missing quite a lot of the recent improvements,
or another indent script

[2016-05-09 20:16] bounceme commented on #427
Oh and try switching to develop

[2016-05-09 20:52] tweekmonster commented on #427
That fixed the issue!  The immediate solution I found was to add this to `yajs` to match this plugin's syntax region:

[code]

It looked like the issue was that it was treating it as a line starting with an operator.  I guess that was fixed in develop.  You may be able to remove the syntax region that includes the leading whitespace now.

This should never be an issue since almost all syntax scrip

[2016-05-09 21:20] bounceme commented on #427
I didn't know that about syntax values, i would have just have guessed most people would only have maybe one file overriding the default that vim has. Of course the people that have tried working with syntax files should know all of that

[2016-05-10 12:35] adam-beck opened #428 "Indentation in Switch Statements"
I know there have been some merges regarding issues with `switch` statements. However, after manually making those changes in my local repo I'm still having a problem.

[code]

Notice the indention of the the values in the return array and the closing bracket of that same array. I'm confident this is an issue with this library as I have the same configuration at home as I do work. Home it was brok

[2016-05-10 13:52] adam-beck commented on #428
I'm not a smart man.

Switched branch to `develop` locally and things seem to be working fine. Will wait for the merge to master. Sorry for the unnecessary bug report.

[2016-05-10 13:52] #428 closed

[2016-05-10 14:11] andykais commented on #410
I understand. I assume that async calls are how Atom and Sublime achieve this superior syntax highlighting. In the interest of future plans, [Vim 8.0](https://github.com/vim/vim/blob/master/runtime/doc/version8.txt) is coming, which supposedly supports asynchronous operations natively. Do you have any more complex syntax support plans once it arrives?

Its a definite advantage Atom has over vim, e

[2016-05-10 14:12] eddiezane commented on #423
Thanks @bounceme! You're crazy fast on these 😄

[2016-05-10 23:57] amadeus commented on #410
Not sure how Atom works, but no, I don't believe Atom and Sublime do these things asynchronously.

I wouldn't say they are superior either. We have for more granularity in many places. As I said earlier, it's mostly differences in opinion. AFAIK, only Emacs can do the crazy parser stuff (perhaps some IDEs as well?).

Vim introducing async stuff might allow for some workaround hacks, but I don't th

[2016-05-11 03:01] tjwebb commented on #413
Also ran into this. I think OSX includes vim 7.3. I upgraded to 7.4 and the problem went away.

[2016-05-12 17:42] iansinnott opened #433 "Syntax support for ES property initializers"
I'm not sure if this is a bug or simply something that is not yet supported, but it would be awesome to see support for [ES class property initializers](https://github.com/jeffmo/es-class-fields-and-static-properties). They are currently a stage-1 proposal but they make authoring React components much nicer.

I've tried this on both `develop` and `master`.

Example code:

[code]

Here's how it's c

[2016-05-14 04:06] paxunix commented on #425
Computed method names (computed properties) is an ES6 feature:  https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Method_definitions

[2016-05-14 05:25] amadeus commented on #425
In objects yes, I believe you are correct. Curly brackets in class definitions have a different set of rules that are being expanded upon in ES7

[2016-05-14 06:03] bounceme commented on #75
If we all agree on removing the special parentheses indent, i can get this into develop

[2016-05-15 15:10] yanyiwu commented on #413
@tjwebb Thanks, it works!

[2016-05-18 18:17] bounceme commented on #75
hey,on develop this was finally changed in a fairly large commit, which means certain things could have issues. testers are welcome

[2016-05-19 18:19] bounceme commented on #303
I think we should consider removing the gq code from the indent file, or do people actually make use of it? https://github.com/pangloss/vim-javascript/blob/master/indent/javascript.vim#L552

[2016-05-20 00:31] bounceme commented on #303
this also could ruin code if used, it will create unclosed strings. maybe it could be updated to insert slashes before the newline, but is this thought to be literal?to make literal line-breaking you need to use '\n'. One other issue i have with this is that the help for 'formatexpr' suggests using an autoload folder, maybe to only be loaded when someone uses gq?

[2016-05-20 02:45] GeneDockAkira commented on #413
@tjwebb Hi, Travis, I upgrade vim to 7.4 (use brew), but the problem is still there. Is that my vim version is wrong? thx.
![image](https://cloud.githubusercontent.com/assets/17537378/15415738/60aa075c-1e77-11e6-8cea-414d98968705.png)

[2016-05-20 09:18] cireric opened #438 "Invalid argument: jsRegexpString for syntax/javascript.vim"
when I update newest version(d7f4728f830173d5894009771432d329d9098f17),  and after edit a js file, vim show error to me
[code]

[2016-05-20 11:03] amadeus commented on #438
Use the `develop` branch for now, the fix should get merged into master soon.

[2016-05-20 11:03] #438 closed

[2016-05-21 15:23] clessg commented on #75
Thanks a lot, @bounceme. This will be a welcomed change.

The only problem I've had with the `develop` branch is that it becomes:

[code]

Instead of

[code]

Still better than the previous behavior though.

[2016-05-21 16:23] bounceme commented on #75
my other branch,bounceme-patch-1, fixes that. i'll try and finish up my new pr soon

[2016-05-22 11:59] moll commented on #75
Yay. Has this been merged in already? If not, I'd suggest keeping this issue open until it's resolved in the stable release. Things tend to slip through otherwise. ;)

[2016-05-22 15:49] adam-beck opened #439 "Indentation inside of `switch` statements"
I'm seeing some weird indentations inside of `switch` statements when returning an object or an array.

**Expected**
[code]

**Actual**
[code]

[Here is my `.~/.vimrc` file](https://github.com/adam-beck/dotfiles/blob/master/home/.vimrc). I do use some other syntax plugins (vim-jsx & javascript-libraries-syntax) that may collude this but removing them still produced the same results. I'm running Vi

[2016-05-22 15:51] adam-beck commented on #439
I need help. My memory is so shot. I opened a pull request on this exact issue.

Sorry.

[2016-05-22 15:51] #439 closed

[2016-05-24 20:00] amadeus commented on #303
I would prefer not to break `gq`, i find it to be very helpful

[2016-05-24 22:49] bounceme commented on #303
is the html issue caused by this plugin though?

[2016-05-25 00:52] bounceme commented on #303
this line probably should be sourcing the syntax file from ```$VIMRUNTIME``` instead of ours,
https://github.com/neovim/neovim/blob/master/runtime/syntax/html.vim#L170
I think this may be related to all the html issues we have. can someone test this and maybe email whoever maintains the official html file?

[2016-05-25 14:51] sahilnarain opened #441 "Invalid argument in syntax/javascript.vim"
Changes made in commit c2bc4c70140ec761fe02c6b3a9a8370a182e931f show an error while opening a javascript file with vim.

<img width="635" alt="screen shot 2016-05-25 at 2 52 12 pm" src="https://cloud.githubusercontent.com/assets/3143331/15544359/e1eddf14-2287-11e6-9959-05776a258775.png">

[2016-05-25 16:38] davidchambers commented on #441
Duplicate of #413

[2016-05-25 16:38] #441 closed

[2016-05-25 16:49] amadeus commented on #441
@davidchambers we should probably get `develop` merged into `master` ASAP to help alleviate this issue coming up a bunch.

[2016-05-27 19:53] #75 closed

[2016-05-30 16:28] wellsjo opened #451 "incorrect indentation for after chained promise calls"
Ever since 3208fc5, indenting after chained promise calls doesn't work correctly (everything shifts over a tab).  Example:

[code]

[2016-05-30 16:38] bounceme commented on #451
fixed in my pr

[2016-05-30 16:41] bounceme commented on #451
oh, not yet actually

[2016-05-30 18:14] bounceme commented on #451
fixed in develop

[2016-05-30 18:17] wellsjo commented on #451
awesome :-D

[2016-05-30 23:56] sheerun opened #452 "Bracket highlighted red when using `get` as method name"
Here's how to reproduce:

[code]

Last bracket is highlighted red. It works fine when I change method name.

[2016-05-31 01:19] wellsjo commented on #451
@bounceme I found another edge case. if there is a line between function calls, they are incorrectly shifted back

Example:
[code]

[2016-05-31 04:06] bounceme commented on #451
i can't reproduce, though i'm working with some local changes right now

[2016-05-31 05:16] bounceme commented on #451
maybe look for conflicting scripts?

[2016-05-31 07:43] t0str opened #454 "Editor lockup when trying to insert line."
Hi
I'm getting an editor-lockup using your plugin. Basically if I try to create a line at a specific place in code it locks up. I have marked the space `###` in the file below. Problem happens with vim-latest and neovim-git-from-yesterday-evening.

[code]

[2016-05-31 07:55] bounceme commented on #454
hey you can checkout my branch for now. a better solution will hopefully come soon

[2016-05-31 08:03] bounceme commented on #454
https://github.com/pangloss/vim-javascript/tree/bounceme-patch-1

[2016-05-31 08:29] t0str commented on #454
Thanks for the super-quick response. This solves my problem.

[2016-05-31 12:44] markrian commented on #179
It'd be great if this project got some tests in place. It seems like there's not been much or any activity on this in a while, though. Would you accept a PR, perhaps based on what's presented in #254?

[2016-05-31 13:49] bounceme commented on #179
when this issue was created indentation was in a terrible state. if you believe it is in need of some sort of javascript based testing, how could this improve our development? I personally have a file which i use for testing the bugs and new additions, while i make changes all i need to do is `gg=G` along with occasionally testing after `:%s/^\s*//`. most edge cases not handled by the current inde

[2016-05-31 14:37] markrian commented on #179
What motivated me to comment here is the fact that I've been bouncing around various commits of vim-javascript trying to find one which indented all of my code correctly. v1.0.0 *almost* got it right for me, but didn't handle multiline comments correctly. The other commits I tried each seemed to fix one thing but break something else.

I don't care whether or not the testing is JavaScript based; I

[2016-05-31 16:15] wellsjo commented on #451
what version of vim-javascript should I use to test?

[2016-05-31 16:44] bounceme commented on #179
https://github.com/pangloss/vim-javascript/pull/435#discussion_r63463153
also, i'll test https://raw.githubusercontent.com/Khan/tota11y/master/build/tota11y.js for performance, I agree that it is not really ideal. Having tests is great, however if all they add is more code when all they do can be achieved with a small mapping isn't that beneficial. obviously this isn't my repo, though I have recen

[2016-05-31 18:33] bounceme commented on #454
i'll close this later, I have fixed this but it isn't in develop or master yet

[2016-05-31 21:29] bounceme commented on #454
fix is in the dev branch

[2016-05-31 21:30] bounceme commented on #451
dev branch, or something is wrong with your setup possibly?

[2016-06-01 15:15] lewisdiamond opened #456 "Allow no change for arrow function"
When using vim-javascript, my arrow function characters become misaligned:
![screenshot from 2016-06-01 11-10-06](https://cloud.githubusercontent.com/assets/1375600/15714696/853acc34-27e9-11e6-955d-72bf421c73eb.png)
This is the normal (aligned) version.
![screenshot from 2016-06-01 11-10-33](https://cloud.githubusercontent.com/assets/1375600/15714707/9411c82a-27e9-11e6-93af-6604c21c9931.png)

I'm

[2016-06-01 20:39] bounceme commented on #456
color schemes can make text bold, maybe try another to see

[2016-06-01 23:27] patrick91 commented on #454
I confirm that the fix works! Thanks!

[2016-06-02 00:37] wellsjo commented on #451
Does this break for you?
[code]

[2016-06-02 01:22] bounceme commented on #451
no,function foo is aligned with func

[2016-06-02 07:33] jonathanewerner opened #458 "Freezes MacVim"
Hi!
I'm using MacVim 7.4 (compiled May 28 2016, included patch 1-1831) and commit `0f0e4a7` from this plugin.
Given this file:
[code]

Open a new line (normal mode `o` key) on the *last line* **freezes** my vim, forcing me to quit with Command-Q.
I verified that this behaviour is introduced by activating this plugin and is gone when deactivating it.

[2016-06-02 07:35] bounceme commented on #458
dev branch

[2016-06-02 13:39] wellsjo commented on #451
must be my setup then. dang, do you have tips on how to debug this? it's really hard!

[2016-06-02 16:04] jimmyrocks commented on #458
I'm having the same issue in vim on ubuntu (VIM - Vi IMproved 7.4)
I went through the debug, and it looks like there's an infinite loop being created in `function GetJavascriptIndent`

I was able to verify this issue but reverting from commit `0f0e4a7259de3cf24be0364510d9ae4c291ec917` to commit `d7f4728f830173d5894009771432d329d9098f17` both in the Master Branch.

[2016-06-02 16:14] dylanscott commented on #458
I've observed this same issue with a static property in a class. Something like

[code]

[2016-06-02 16:18] bounceme commented on #458
anyone who encounters this please checkout the develop branch. also we should have master updated soon

[2016-06-02 16:22] dylanscott commented on #458
I'm still observing this issue both on develop (`5962584f25d4c06650ecb4518033c1865832011f`) and bounceme-patch-1 (`26d4fbb954fa059d9e9caf419a7351df332fad8e`). Exact repro:

On the following file place your cursor on line 6 (the line with the closing `propTypes` bracket) and press `o`.

[code]

[2016-06-02 16:27] bounceme commented on #458
I can't reproduce, can you try removing all your syntax or javascript related plugins. maybe pull the latest changes from bounceme-patch-1 too

[2016-06-02 16:37] bounceme commented on #458
i'll merge my branch to develop, if it isn't fixed, i suspect a conflicting indent or syntax file

[2016-06-02 16:44] bounceme commented on #458
as soon as we can confirm this severe issue is fixed in dev, @amadeus , @davidchambers , how about pushing dev into master?apologies again for my oversight

[2016-06-02 16:52] davidchambers commented on #458
No need to apologize, @bounceme. I'm thrilled to have you working on indentation-related issues which have gone unaddressed for a long time. It's not surprising that fixing one problem introduces another, in some cases.

[2016-06-03 04:12] bounceme commented on #458
great,that is nice to hear!

[2016-06-03 06:54] yormi opened #461 "Suggestion: Could it follow the Standard style ?"
I have a couple of issues with indentation.

Using the ...variable (spread operator) in an array or object on multiline for instance.

I'm not sure what is the style you guys want to follow with indentation. I was thinking that [Standard](https://github.com/feross/standard) would be a wise choice.

At the same time, is the spread operator thing an issue that you plan to work on ?

EDIT: I almost f

[2016-06-03 07:17] bounceme commented on #461
can you give an example? an example for what you mean with the standard recommendation would be helpful

[2016-06-03 07:54] bounceme commented on #461
guessing by my results with this file as a measure  https://github.com/feross/bittorrent-dht/blob/master/client.js we have support already for 'standard' js

[2016-06-03 15:29] dylanscott commented on #458
Just FYI I think this probably is fixed. There seems to be something weird where checking out different branches/commits in `~/.vim/bundle/vim-javascript` is not having an effect, even with a full MacVim restart. Not sure if there's some weird caching happening somewhere.

[2016-06-03 16:33] ctataryn commented on #184
Same issue for me, rainbowparens breaks on javascript files when I'm using `vim-javascript`. Unfortunately @caleb's fix didn't work for me :cry:

[2016-06-03 16:45] yormi commented on #461
I had few tiny problems but I updated lately and since then I think the indentation with ES6 spread operator is my only problem (no instances of this in the measure file):
[code]

Instead of giving the above, the indentation change it for:
[code]

And, as you probably understood, this does not follow standardjs convention. MOreover, when `somethingElse` is an object literal instead of a variable,

[2016-06-03 16:51] bounceme commented on #461
most operator edge cases are caused by mixing operator first style with operator end style.maybe the spread operator is a special case though. moving the comma to the start of line three should fix your immediate issue

[2016-06-03 17:00] yormi commented on #461
Ok thanks for the work around but I think I prefer just fix it by hand and wait for the fix. If I may ask, do you plan to fix it ? :)

[2016-06-03 17:12] bounceme commented on #461
i already have haha

[2016-06-03 17:15] bounceme commented on #461
https://github.com/pangloss/vim-javascript/pull/462

[2016-06-03 18:01] yormi commented on #461
My hero ! haha

Yep it seems to work ! Thank you !

Should I close the issue or wait that the PR is merge ?

[2016-06-03 18:09] bounceme commented on #461
i'll merge it to develop, seems to be pretty safe

[2016-06-03 18:09] #461 closed

[2016-06-04 01:37] yormi commented on #461
Perfect !

Thanks again :)

2016-06-04 2:09 GMT+08:00 bounceme <notifications@github.com>:

[2016-06-04 06:27] sherdeadlock commented on #458
It's fixed in develop branch. Thanks :D

[code]

[2016-06-05 07:36] zanona opened #465 "Incorrect fold region and syntax highlighting after class `get` or `set` method"
Hi, first of all, thanks for **vim-javascript**.
I've been using for a long time now and it has been really efficient to me.
One issue I stumbled upon was that apparently by naming class methods `get` or `set`, breaks the syntax highlighting and also confuses the fold levels?

[code]

[2016-06-05 08:35] yormi commented on #461
@bounceme

I have another issue of the same kind with the indentation and Standard style.

[code]

Should be:

[code]

If you have a quick fix as know you can do, that would be amazing :)

[2016-06-05 08:49] bounceme commented on #461
lines with only an opening brace,along with multiline comments and switch cases, use vim's c-implemented cindent.
[code]
works but only when you are inside braces at any level(so if that is your entire file than it won't work)

[2016-06-05 09:04] bounceme commented on #461
actually you can try this, or all three settings together `set cino+=f1s`

[2016-06-05 09:25] yormi commented on #461
Are you some kind of genius or something !? :P

`set cino+=f1s` worked perfectly !

[2016-06-05 18:02] amadeus commented on #465
This has already been fixed in the `develop` branch, sorry about that!

[2016-06-05 18:02] #465 closed

[2016-06-05 18:17] zanona commented on #343
Weird, I don't get `instanceof` highlighted as well. Using `develop` branch here.

[2016-06-05 20:49] zamN commented on #451
@wellsjo same exact setups? Same `.bashrc`'s, `.vimrc`'s, vim plugins, etc? Do you use a plugin manager for vim? If so I'd say nuke your vim plugin directory on Ubuntu and then try re-installing all your plugins. Do the same for Mac, but backup your 'working' `.vim` directory first. Doing this will help you isolate what is possibly conflicting.

[2016-06-06 01:39] amadeus commented on #452
Should already be fixed in `develop`

[2016-06-06 01:39] #452 closed

[2016-06-06 05:08] amadeus commented on #454
Closing this because it appears fixed. Please reply back if not.

[2016-06-06 05:08] #454 closed

[2016-06-06 12:00] megapctr commented on #458
Just for the record, the issue is not limited to MacVim. Using `O` or `o`  to instert a line after a static property caused freezing for me. Good to know that it's been fixed already though :)

[2016-06-08 17:20] sboehler opened #467 "Indentation of multiline promise chains"
Currently (master & develop), vim-javascript seems to indent promise / function chains as follows, with an indent after the first line:

[code]

However, until recently, it has always been formatting them as follow (which is my preference):
[code]

Is this an intended change or a bug? And is it possible to switch back to the old behavior?

Many thanks for maintaining this plugin, I have noticed th

[2016-06-08 17:44] bounceme commented on #467
definitely intentional, but if this is very annoying to you you can remove the dot from this regex:
https://github.com/pangloss/vim-javascript/blob/develop/indent/javascript.vim#L73

[2016-06-08 17:44] #467 closed

[2016-06-08 18:01] sboehler commented on #467
I changed the line to
[code]
i.e. I removed the single dot I found as suggested, but it still indents the continuation lines as outlined above.

[2016-06-08 18:04] bounceme commented on #467
sorry i edited the line number

[2016-06-08 18:09] sboehler commented on #467
Awesome, this does the trick! Good enough for me, although it would be nice to have this somehow configurable via a variable. Thanks @bounceme for your help and for improving this plugin!

[2016-06-09 06:18] tiagofumo opened #468 "Change identation to 2 spaces instead of 4"
I can't find anywhere how to set identation to 2 spaces instead of 4. Is that possible?

[2016-06-09 06:21] amadeus commented on #468
These are Vim settings. Our plugin will use whatever configuration you have in Vim.

I suggest the following commands to learn about it:

[code]

[2016-06-09 06:21] #468 closed

[2016-06-09 07:29] tiagofumo commented on #468
I'm sorry, this is happening to me:
![output](https://cloud.githubusercontent.com/assets/12556770/15921645/2b0c6ca2-2df9-11e6-83b5-f8ef3d07ad6b.gif)

I have this line on my .vimrc:
`autocmd FileType javascript set tabstop=2|set shiftwidth=2|set expandtab`

I thought my indentation settings were messing with the plugin, so I was looking for a global variable to set or something. But this also happe

[2016-06-09 08:12] bounceme commented on #468
what are your plugins which could be related to javascript?your issue doesn't seem to be caused by this indent script(or I've never seen this happen). maybe try ` set indentkeys=`

[2016-06-09 08:18] bounceme commented on #468
also try the develop branch,otherwise your issue is very likely caused by something else

[2016-06-09 21:19] tomxtobin opened #469 "Incorrect indentation with nested literal objects/arrays"
Commit d54b138f9113739780f1f61c9fe5aeec0e0ea088 broke indentation in the following case (and also with literal arrays):

[code]

The issue doesn't arise if the trailing comma from `c` is removed.

The issue exists on the `develop` branch as well.

[2016-06-09 21:59] bounceme commented on #469
fixed in 'bounceme-patch-1' branch, still needs #466 though

[2016-06-11 03:14] bounceme commented on #461
you will not need this setting with the next push to dev

[2016-06-11 07:46] yormi commented on #461
Great ! You are the best :D

[2016-06-11 21:20] amadeus commented on #318
Welp, it looks like I will start taking a look at this. I am now using Flow at work, so it's directly impacting me now 😄

[2016-06-11 21:22] amadeus commented on #318
My plan will be to make it an opt in, so you will have to set a sort of global variable to enable support for it.

My initial findings when playing around with it however, there are certain cases that may be VERY difficult to support.

[2016-06-11 21:26] amadeus commented on #318
I have started a branch here [js-flow-support](https://github.com/pangloss/vim-javascript/tree/js-flow-support) that you can follow along with. It's far from feature complete by any means, but it hopefully will fix some issues already right off.

[2016-06-11 21:28] amadeus commented on #456
Yeah, I am pretty sure you have some sort of bold effect happening here. Will close this for now, but if it's not the case please comment and I can re-open.

[2016-06-11 21:28] #456 closed

[2016-06-11 23:12] bounceme commented on #469
can you try out develop again? this should be closable

[2016-06-11 23:12] #451 closed

[2016-06-12 03:32] amadeus commented on #469
Working for me. Will close this unless someone can reproduce.

[2016-06-12 03:32] #469 closed

[2016-06-12 03:32] amadeus commented on #433
Should be fixed in `develop`

[2016-06-12 03:32] #433 closed

[2016-06-12 03:32] amadeus commented on #425
Should be fixed in `develop`

[2016-06-12 03:32] #425 closed

[2016-06-12 03:32] amadeus commented on #393
Should be fixed on `develop`

[2016-06-12 03:32] #393 closed

[2016-06-12 03:33] amadeus commented on #310
Is there another syntax plugin that does support this? It could help us expedite getting this in to have an example from somewhere.

[2016-06-12 03:34] amadeus commented on #299
@vekat so does that mean this should be filed as a non-issue since it's working as expected? If not, please comment and I will re-open.

[2016-06-12 03:34] #299 closed

[2016-06-12 03:44] amadeus commented on #184
Unfortunately the way our syntax file works, I am am almost positive it is impossible to support Rainbow parentheses.

It's probably even worse now that we have special support for ES6/7 functionality. Going to close this, but will consider re-opening if someone can figure out how to get it working, although I doubt it.

[2016-06-12 03:44] #184 closed

[2016-06-12 03:45] amadeus commented on #180
This should be fixed with the new ES6/7 refactor.

[2016-06-12 03:45] #180 closed

[2016-06-12 03:46] amadeus commented on #458
Closing this because I assume it has been fixed in `develop`. Please comment if not and I can re-open.

[2016-06-12 03:46] #458 closed

[2016-06-12 11:46] ilyuha21st opened #471 "New line indent in new block forced to 2"
Hello.
New line in new block always created  with indentation equal to 2. Even if I set up some global or local  vim configuration like 'setl sw=4 sts=4'. It will be good, if it'll be such functionality, like manually configuration new line indent.
Thank you.

[2016-06-12 14:27] tomxtobin commented on #469
Looks good to me on `develop`. Thanks!

[2016-06-12 17:46] bounceme commented on #471
there is some plugin or setting that you have which is causing this

[2016-06-12 17:46] #471 closed

[2016-06-12 17:55] bounceme commented on #198
the reason someone would install the indent script in this repo is for a better indentation,so, that you see another level created is no surprise.the specific alignment after the comma is also going to have to be manually added

[2016-06-12 17:55] #198 closed

[2016-06-13 13:31] pthrasher commented on #458
When will develop be merged in? Should the issue stay open until it's fixed on master?

[2016-06-13 13:42] bounceme commented on #310
that looks big enough to be a separate repo, another possibility is asking for js support at that project

[2016-06-13 21:48] bounceme commented on #458
I want to have the fix pushed to master as soon as possible, do you think develop is stable enough? @amadeus

[2016-06-13 21:49] amadeus commented on #458
So far the ES6 stuff has been working pretty well for me. The only thing with this next version, we should almost certainly bump it to 1.1, since so much is now working and fixed in this version.

[2016-06-14 00:14] iryan2 opened #473 "Incorrect unmatched paren highlighting with arrow functions"
When using ES6 arrow functions as callbacks, the closing paren is incorrectly reported to be unmatched, screenshot.
<img width="493" alt="screen shot 2016-06-14 at 10 12 42 am" src="https://cloud.githubusercontent.com/assets/5858312/16027354/915c7d08-3218-11e6-9ab2-d464d977e59a.png">

The first two examples show the problem, the third demonstrates that the problem does not occur with ES5 style cal

[2016-06-14 00:39] amadeus commented on #473
Quick question, are you on `master` branch? I am 99% sure this is fixed in `develop`, which we will be merging into `master` shortly.

[2016-06-14 00:50] iryan2 commented on #473
Ah, just checked the develop branch and the problem is gone! Thank you!

[2016-06-14 00:51] amadeus commented on #473
And I just merged the latest into master, so everything should be good!

[2016-06-14 00:51] #473 closed

[2016-06-14 00:53] amadeus commented on #310
Honestly, I think fold markers just require you to `:set foldmethod=marker`.

[2016-06-14 00:53] #310 closed

[2016-06-14 00:54] amadeus commented on #458
This is all merged into `master` now

[2016-06-14 02:45] iryan2 commented on #469
Broken for me on develop, depending on where the trailing comma is. It's when it appears on the last line of the last item:
<img width="238" alt="screen shot 2016-06-14 at 12 38 06 pm" src="https://cloud.githubusercontent.com/assets/5858312/16029622/64e58d5e-322d-11e6-9f4d-e28aa69815e2.png">

But not if the trailing comma appears earlier in the collection:
<img width="253" alt="screen shot 2016-06

[2016-06-14 03:29] bounceme commented on #469
are you sure there isn't any conflicting scripts?could you paste the examples as markdown, i'll be testing this later

[2016-06-14 04:00] bounceme commented on #469
my results:
[code]

[2016-06-14 04:01] bounceme commented on #469
oh there is a problem still
[code]

[2016-06-14 06:29] jonathanewerner commented on #458
Awesome, thanks!

[2016-06-14 17:09] ysagal opened #476 "Nested indentation sometimes misaligned"
It seems the indentation was significantly revised (for the better), but there's an issue with certain nesting situations. Here's an example.

Expected:
[code]

Actual:
[code]

[2016-06-14 17:33] bounceme commented on #476
i'm reworking some parentheses matching in #474, i'll try and fix this in the pr

[2016-06-14 17:38] alexlafroscia opened #477 "Quoted string as object key not supported"
Since pulling the updates from today, my highlighting has been way off.

![screen shot 2016-06-14 at 10 37 39 am](https://cloud.githubusercontent.com/assets/1645881/16053074/1679edec-321c-11e6-9d70-750b1fd0888b.png)

None of the `const`s are highlighted anymore, as are... Well, most other things.  It was all fine before `develop` was merged in today.

***

**Edit:** It's been determined that the i

[2016-06-14 17:46] amadeus commented on #477
This is probably the result of your color scheme. We've added a lot more syntax granularity, but it's possible your color scheme isn't matching up to these links well.

Can you link me to your color scheme file and I can look into perhaps better link things up?

[2016-06-14 17:57] alexlafroscia commented on #477
Hmm, interesting.  I'm using [gruvbox](https://github.com/morhetz/gruvbox).

[2016-06-14 18:00] alexlafroscia commented on #477
Huh, it looks like it might just be that one file, not a universal problem.  Here's a different file, same Vim config

![screen shot 2016-06-14 at 10 59 12 am](https://cloud.githubusercontent.com/assets/1645881/16053818/2bb712f4-321f-11e6-9a32-b28fbe64fe99.png)

Things look pretty normal there, so maybe it's just a problem with the first file I showed.

[2016-06-14 18:04] amadeus commented on #477
Ahah, I think I can see the issue in your first file. It's a type of ES6/7 syntax I never thought to support.

[code]

For now, if you changed it to:

[code]

Then it should fix itself. I will work on supporting that string key into parentheses syntax shortly though.

[2016-06-14 18:10] alexlafroscia commented on #477
Alright, cool.  It's not something I can change in my codebase, but I'm glad to know it'll be handled sometime soon.

[2016-06-14 18:19] amadeus commented on #477
I have a fix for this that is going into `develop` shortly. Thanks for the heads up!

[2016-06-14 22:14] alexlafroscia commented on #477
Awesome! Thanks for the quick turn-around there, I'll install from `develop` and check it out.

[2016-06-16 01:23] bounceme opened #481 "function keyword highlighted as identifier name"
[code]

[2016-06-16 02:01] amadeus commented on #481
OMG I am an idiot. I'll have a fix for this in a sec.

[2016-06-16 02:06] amadeus commented on #481
Fixed in `develop`, thanks for finding this.

[2016-06-16 02:06] #481 closed

[2016-06-16 02:07] amadeus commented on #477
Awesome, closing this, as this fix will be going out shortly.

[2016-06-16 02:07] #477 closed

[2016-06-16 02:53] alexlafroscia commented on #477
Thanks again for the quick turn-around!

[2016-06-16 16:18] eddiezane opened #484 "Promise catch syntax error"
This is on the `develop` branch.

![screen shot 2016-06-16 at 12 17 09 pm](https://cloud.githubusercontent.com/assets/959573/16124292/6222fd32-33bc-11e6-919f-879c04b6fa29.png)

[code]

[2016-06-16 16:25] amadeus commented on #484
Awesome, thanks the find. I'll look into fixing this shortly!

[2016-06-16 16:27] eddiezane commented on #484
@amadeus, @bounceme, and @davidchambers - y'all are the best people in the world. Such a stunning display of open source project management 💖 .

[2016-06-16 17:04] alexlafroscia commented on #484
I was just coming over to this repo to report the same thing!  A few more examples in my screenshot:

![screen shot 2016-06-16 at 10 02 57 am](https://cloud.githubusercontent.com/assets/1645881/16125695/9ce5bcba-33a9-11e6-92a8-d9f97179c600.png)

It seems like a "regular" function passed to `.catch` gets thrown off as well.

[2016-06-16 17:08] amadeus commented on #484
Yeah it's because `catch` is getting matched as a `catch` statement, not as a function call.

[2016-06-16 17:09] alexlafroscia commented on #484
Totally makes sense, it's tough (and unfortunate) that it's both a keyword and the way to handle Promise errors.

As always, thanks for the hard work and attentive response to issues @amadeus!

[2016-06-16 18:10] amadeus commented on #484
I have a fix in #485, perhaps check it out and confirm that it fixes the issue. Also make sure I didn't drastically break something else either xD

[2016-06-16 18:32] amadeus commented on #484
Should be fixed in `develop`

[2016-06-16 18:32] #484 closed

[2016-06-16 18:35] amadeus commented on #476
This appears fixed in `develop`, closing this as `develop` will go into `master` soon, perhaps even today.

[2016-06-16 18:35] #476 closed

[2016-06-16 18:53] amadeus commented on #477
This is fixed in `develop`, gonna close this as it should be going into `master` soon.

[2016-06-16 18:55] amadeus commented on #303
@bounceme in relation to your comment, there's an override system that takes place, so our file will be sourced on that line. In fact, it's sourced first, then it falls back to the built in system `syntax/javascript.vim`.

[2016-06-16 21:10] eddiezane opened #486 "Multiple function indentation issue"
This is on the `develop` branch.

It appears `jobs.on` isn't indenting correctly in this snippet.

I'll try to whip up and drill down a minimal case later but wanted to report now.

![screen shot 2016-06-16 at 5 08 44 pm](https://cloud.githubusercontent.com/assets/959573/16133309/1b3d1d98-33e5-11e6-92b9-691191fbd182.png)

[code]

[2016-06-16 21:14] eddiezane commented on #486
Seems to happen only with the chained `.save` present.

[2016-06-16 21:39] amadeus opened #487 "Misc Issues With Strangely Placed Comments"
I have found a few cases where placing comments in specific contexts can cause major problems when relying on `nextgroup`.

Some examples:

[code]

I wish there was a way to classify a certain group of regexes as skippable, and then opt in to skipping over them for determining `nextgroup`, however unfortunately this isn't possible.

The only real fix is to create case specific comments that can ac

[2016-06-16 23:15] alexlafroscia commented on #484
@amadeus looks good to me! `.catch` is not un-highlighted when used as a method

[2016-06-17 10:21] akatsukle opened #490 "Macro get broken by the plugin"
After submitting my issue to [stackexchange](http://vi.stackexchange.com/questions/8290/macro-fails-using-arrows?noredirect=1#comment13938_8290), it looks like the issue come from pangloss.
When I remove it from my vimrc, it works again as expected.

[2016-06-17 14:27] eddiezane commented on #486
Closed with #488

Nice fix, @bounceme!

[2016-06-17 14:27] #486 closed

[2016-06-17 15:02] markrian opened #491 "Trailing comma can mess up subsequent indentation"
I haven't really characterised this fully, but it seems that a trailing comma in an array literal can mess up subsequent block indentation. Using the latest commit on develop (ea5803348e3ec88a1762b4f044b585d216d1974f), it indents the following code like so:
[code]
If you remove the trailing comma, you get this:
[code]
which is how I'd expect the code to indented.

[2016-06-17 15:11] markrian commented on #491
The most recent commit which doesn't exhibit this bug happens to be exactly v1.0.0 (d7f4728f830173d5894009771432d329d9098f17).

[2016-06-17 15:34] markrian opened #492 "Hanging indent causes subsequent lines to indent incorrectly"
Using the latest commit on the develop branch (ea5803348e3ec88a1762b4f044b585d216d1974f), hanging indents cause subsequent lines to be indented. That is, this happens:
[code]
whereas I would expect this:
[code]

[2016-06-17 15:36] markrian commented on #492
The most recent commit where this bug isn't present is be5506443592c5ef99493f817f26c3091af4585e.

[2016-06-17 17:31] bounceme commented on #491
dev branch!

[2016-06-17 17:51] tomxtobin opened #493 "Incorrect indentation following single-line comments"
On both `master` and `develop`, a line following a single-line comment is incorrectly indented:
[code]
But indentation between single-line comments is (usually) fine:
[code]
But even those seem to break if your last action was deleting a line
between `// comment 1` and `// comment 2`.

Calls seem a bit wonky:
[code]
And everything behaves differently if there's a non-comment line above the comment

[2016-06-17 17:53] bounceme commented on #493
try the newest dev update

[2016-06-17 18:11] tomxtobin commented on #493
Just tried; all the aforementioned bugs are still present.

[2016-06-17 18:45] bounceme commented on #493
i can't reproduce any of these

[2016-06-17 18:59] tomxtobin commented on #493
I just tested with `-u NONE` and only this plugin enabled, and I'm seeing some differences.

-

[2016-06-17 19:04] tomxtobin commented on #493
I just tested with `-u NONE` and only this plugin enabled, and I'm seeing some differences.

- It doesn't happen at all if `formatoptions` has `o` and `r`. I usually disable those; I virtually never want `o` or `O` to create a new comment, and rarely `<Enter>`.

- Most of the examples I gave work normally even with `o` and `r` unset from `formatoptions`, but a few of them are still indenting incor

[2016-06-17 19:31] markrian commented on #491
I'm not sure what you meant by that comment - was I right to file an issue against the develop branch?

[2016-06-17 19:33] bounceme commented on #491
I thought it was fixed already, this is still a problem but i'll try and fix it for the next push to master.

[2016-06-17 19:46] tomxtobin commented on #493
Actually, I'm seeing it pretty reliably now with `-u NONE` and `setlocal formatoptions-=o`, with only this plugin active.

Here's what I'm doing after starting with `-u NONE`:

- I source a file with these commands:
[code]

- I open a file with the above examples.

- I set `formatoptions-=o`, `formatoptions-=r`

[2016-06-17 20:13] bounceme commented on #493
try and comment out this line https://github.com/pangloss/vim-javascript/blob/master/indent/javascript.vim#L19

[2016-06-17 20:22] tomxtobin commented on #493
The `indentkeys` setting? Commenting that out breaks hitting Enter (no context-sensitive indentation at all), but that's what you'd expect. `o`/`O` is still in `indentkeys`, and manually removing those has the same effect.

[2016-06-17 20:25] bounceme commented on #493
maybe the line above:formatexpr? I'm not able to test now

[2016-06-17 20:32] tomxtobin commented on #493
Found the problem:
[code]
That's erroneously deleting a character from the indentation in the case of a preceding single-line (`//`) comment.

[2016-06-17 20:46] tomxtobin commented on #493
Changing the above code to the following always does the right thing for me now:
[code]
I'm not sure what the "deduct one char" bit was trying to do; I'd expect a line following the close of a multi-line comment to indent to the start of the preceding `*/`. If changing the behavior here is acceptable, I can submit a PR.

[2016-06-17 20:55] bounceme commented on #493
i would wait to make a pr, my guess is something else is going on. also, i believe deducting a char is necessary when starting a new line after a multiline comment

[2016-06-17 22:34] bounceme commented on #493
[code]
maybe it will work with the above? my mistake if so for the incorrect condition

[2016-06-18 16:13] bounceme commented on #493
give develop another try

[2016-06-18 16:14] bounceme commented on #492
both of your issues appear to be fixed

[2016-06-18 21:15] amadeus commented on #490
Unfortunately I cannot reproduce this issue at all, even with all my plugins enabled.

Furthermore, I can't see how our plugin would change anything like this? We don't do anything with remapping of keys. Perhaps it's related to a particular version of Vim?

If you can a way to more reliably reproduce this issue, let me know and I can re-open.

[2016-06-18 21:15] #490 closed

[2016-06-18 21:16] amadeus commented on #491
Has this issue been fixed on `develop`?

[2016-06-19 17:14] Arch-Mage opened #497 "jsFuncArgRest break if there's no space before closing parentheses"
With this

[code]
that closing parenthesis will be highlighted by `jsFuncArgRest`.

but with this:

[code]

that parenthesis is become `jsFuncParens`, which I think should be.

If I'm not mistaken, maybe the causing problem is the regular expression in [this line](https://github.com/pangloss/vim-javascript/blob/master/syntax/javascript.vim#L151):

[code]

I've tried to remove one parenthesis in th

[2016-06-19 17:31] amadeus commented on #497
I've actually just reworked all of this in the `develop` branch, can you check it out? It should be fixed.

[2016-06-19 18:12] Arch-Mage commented on #497
Ah, I didn't know that. Yes, the `develop` branch fix this issue. Oh, and I found another issue. The current master branch (and current develop branch as I see there) breaks [Export extensions transform](http://babeljs.io/docs/plugins/transform-export-extensions/).

[2016-06-19 18:15] amadeus commented on #497
What exactly is breaking? This should be working fine?

[2016-06-19 18:19] amadeus commented on #497
Nevermind, I see the issue. I'll look to add this soon.

[2016-06-20 04:35] iryan2 commented on #493
Just chiming in to let you guys know I came across this problem earlier today, and updating to the latest develop fixed the issue for me.

[2016-06-20 05:38] amadeus commented on #497
@Arch-Mage since this original issue is in regards to an issue that has been fixed, and I have created a PR (#500) for the other feature request, I am going to close this.

[2016-06-20 05:38] #497 closed

[2016-06-20 05:52] amadeus commented on #318
A basic version of Flow support has been added to `develop`. Check the README on `develop` for instructions to enable flow features. It's possible there are bugs, so if you can, please test.

[2016-06-20 05:52] #318 closed

[2016-06-20 05:57] amadeus commented on #493
Closing this because I believe it has been fixed in `develop`. If not someone please chime in and I can re-open.

[2016-06-20 05:58] #492 closed

[2016-06-20 06:00] #491 closed

[2016-06-20 16:10] bounceme commented on #493
what settings do you use? does this happen while typing or after `=`? still am not able to reproduce

[2016-06-20 17:01] bounceme commented on #493
I see now, this is an issue with the syntax:
[code]
the third line at col 1, is incorrectly being highlighted (though there are no are there characters show it) as a comment

[2016-06-20 17:28] FuzzOli87 opened #502 "Confuses default values in destructuring assignment"
![screenshot_20160620_122522](https://cloud.githubusercontent.com/assets/12246915/16204001/7df9b108-36e2-11e6-9299-ca287eb2fd74.png)
[http://imgur.com/n3f0Tat](url)

As you can see, the second function loses syntax. It confuses the braces in the default assignment "settings" for closing braces.

It's weird that the top function also has destructuring but it does not flake out.

[2016-06-20 17:30] amadeus commented on #502
Can you paste that snippet as a code block and I can look into it? Also, is this on `master` or `develop` branch?

[2016-06-20 17:41] FuzzOli87 commented on #502
@amadeus This is definitely master.
[code]

HOWEVER!

I just tried the 'develop' branch on my .nvimrc and the syntax error is resolved. So, fix for this seems to be coming down the pipeline.

![image](https://cloud.githubusercontent.com/assets/12246915/16204381/27d32820-36e4-11e6-8636-4eda72fd42a1.png)

[2016-06-20 17:45] amadeus commented on #502
Awesome, good to hear. Yeah, I just refactored how we handle destructuring, so glad to hear it's fixed.

[2016-06-20 17:55] amadeus commented on #502
Your example was actually super helpful though, I've found another destructuring case that I didn't handle from before, so thanks for that! I'll get a PR together to improve `develop` further.

[2016-06-20 18:01] amadeus commented on #502
Closing this as the issue that you found without realizing it, is now a PR for `develop`. Thanks again!

[2016-06-20 18:01] #502 closed

[2016-06-21 00:08] amadeus commented on #493
@bounceme not sure I follow. If I type this out like you have above, I get:

![example](https://dl.dropboxusercontent.com/s/74uyy8lfk7wjvso/file.js_2016-06-20_17-08-06.png?dl=0)

[2016-06-21 00:26] bounceme commented on #493
here is the only way i can reproduce, first install https://github.com/tpope/vim-scriptease
`set fo-=o` `set fo-=r`
paste this into a blank buffer:
[code]
on the third line press `o` or `O`,sometimes it seems to not happen, but if there is another indent created press `esc` then `zS` (from scriptease)

[2016-06-21 00:32] amadeus commented on #493
Still can't reproduce. I don't use scriptease, but I have something similar for getting syntax highlighting state:

[code]

I get the scenario you mentioned, where if I press `O` from the third line, it's indented twice. If I press `Esc` though, the white space gets automatically removed, and the cursor i placed at the beginning of the line, and checking my highlighting context appears normal

![e

[2016-06-21 00:37] bounceme commented on #493
what echoes when I use your function is `jsparen > jscomment`

[2016-06-21 00:40] bounceme commented on #493
this then uses c-indent, try removing this paragraph:
https://github.com/pangloss/vim-javascript/blob/master/indent/javascript.vim#L333

[2016-06-21 02:24] bounceme commented on #493
<img width="421" alt="screen shot 2016-06-20 at 7 22 52 pm" src="https://cloud.githubusercontent.com/assets/9332107/16216068/935cf6ce-371c-11e6-89c4-707526c39f0d.png">

[2016-06-21 03:15] amadeus commented on #493
@bounceme what version of Vim/MacVim do you have?

I've seen this sorta thing before, although usually if you type something or what a second, it fixes itself.

[2016-06-21 03:29] bounceme commented on #493
vim 7.4.1941

[2016-06-21 07:22] bounceme commented on #493
I can do something to fix the indenting at least, if this is just a general syntax problem

[2016-06-21 18:06] amadeus commented on #493
All the `jsComment` stuff is super legacy. I can take a stab at modernizing it a bit, and see if that fixes things?

[2016-06-21 18:13] bounceme commented on #493
that'd be great! thanks

[2016-06-21 18:38] amadeus commented on #493
@bounceme with what I just merged into `develop`, can this issue be marked as solved?

[2016-06-21 18:52] bounceme commented on #493
yes, this troublesome issue is gone haha

[2016-06-21 18:52] #493 closed

[2016-06-21 19:02] amadeus commented on #416
Sorry to bug, @pangloss any thoughts on this?

[2016-06-21 19:04] amadeus commented on #262
Not sure if anything has changed, but some quick tests seem to show indentation in HTML files are ok for me? If not, someone please comment and I can re-open.

[2016-06-21 19:04] #262 closed

[2016-06-21 19:06] amadeus commented on #194
I'd love to get some of these old issues closed up. @bounceme can you perhaps look at ignoring an indent inside a block comment on `=`?

[2016-06-21 19:11] amadeus commented on #179
Gonna close #254 because it's related to this one, but leaving a ref here since it had some good ideas.

[2016-06-21 19:11] amadeus commented on #254
Closing this as something of a dupe/related to #179

[2016-06-21 19:11] #254 closed

[2016-06-21 19:35] markrian commented on #179
I've been meaning to get a PR together for this. It'd be similar to what was suggested in #254, except it'd just use a simple bash script. This means no extra dependencies on node, etc. It'd even be possible to have it run in TravisCI.

[2016-06-22 09:06] larsbs opened #505 "Bad syntax highlighting on block case statements"
In one of the recent updates, the support for block case statements has been broken. Don't know exactly when because I don't update frequently but here is a screenshot of the actual problem:

Using block declaration (Using `{ }`)
![20160622-110319](https://cloud.githubusercontent.com/assets/1436588/16260738/f67ee846-3868-11e6-869d-b10870dd7542.png)

Without block declaration (No `{ }`)
![20160622-

[2016-06-22 09:22] larsbs commented on #505
Ok, I had some time to checkout some commits. The issues started with these two commits:

1. a0d1abc172cd0d701c115b7c0197c5dfa288f278
2. c48323a215a472a0a4a2a71ca08f10096e1eeb73

So the latest working commit was: 6c2de108fbe66faea75e358774a12da1b44c0de0

[2016-06-22 16:34] Arch-Mage opened #506 "async class method not highlighted"
This class

[code]

should have `async` keyword highlighted as `jsAsyncKeyword`. But it is not. It  just have `jsClassBlock`.

If I'm correct adding `jsAsyncKeyword` to [this line](https://github.com/pangloss/vim-javascript/blob/master/syntax/javascript.vim#L138) should fix this, because it works
for me.

[2016-06-22 16:44] amadeus commented on #505
I'll have a fix for this shortly, thanks for submitting the issue!

[2016-06-22 16:45] amadeus commented on #506
Thanks for posting this issue! I'll have a fix in 'develop' shortly!

[2016-06-22 18:10] amadeus commented on #506
I see, do you have some documentation for this ES7 somewhere that I could reference?

[2016-06-22 18:14] Arch-Mage commented on #506
Tracked down on babel, and I found [this spec](https://tc39.github.io/ecmascript-asyncawait/) about `async` and `await`.

[2016-06-22 18:28] amadeus commented on #506
I added it to objects in #507 as well.

[2016-06-22 19:25] #506 closed

[2016-06-22 22:22] amadeus commented on #505
Should be fixed in `develop`

[2016-06-22 22:22] #505 closed

[2016-06-25 10:43] ninrod commented on #177
any news on this?

[2016-06-25 20:59] amadeus commented on #177
Honestly I don't think anyone has really looked into this further than what you see here. As the current indent file stands, I believe it actually depends on our syntax file which means we would need both included with Vim. Currently we have been working on a ton of new experimental stuff and I would not be yet comfortable having a specific version locked into mainline vim until there has been mor

[2016-06-25 21:04] Arch-Mage opened #510 "Comment inside import and export not highlighted"
Try this:

[code]

I believe adding `jsComment` to [this line](https://github.com/pangloss/vim-javascript/blob/master/syntax/javascript.vim#L43) and [this line](https://github.com/pangloss/vim-javascript/blob/master/syntax/javascript.vim#L48) should fix this.

[2016-06-25 21:20] epaminond commented on #242
It seems I have the same issue on neovim.

[2016-06-25 21:24] amadeus commented on #510
Oof, thanks for posting the issue, I'll look into getting it sorted shortly!

[2016-06-25 21:26] amadeus commented on #242
@epaminond there appear to be 2 separate issues in here. Can you specify which issue or post a code snippet?

[2016-06-25 21:30] epaminond commented on #242
@amadeus, syntax highlighting for template strings doesn't take into account closing back quote:
![image](https://cloud.githubusercontent.com/assets/1932290/16359224/f2407c1c-3b34-11e6-9d49-5050815c4bf3.png)

[2016-06-25 21:37] amadeus commented on #242
Thanks, @epaminond I'll take a look into this shortly. In the meantime could you paste that snippet as text in a comment so I can easily test it?

[2016-06-25 21:39] epaminond commented on #242
Thanks. Here's a snippet:
[code]

[2016-06-26 00:01] amadeus commented on #242
@epaminond on my initial tests in the `develop` branch, this issue does not appear to exist. How up to date is your plugin?

[2016-06-26 00:05] amadeus commented on #510
This issue has been fixed in `develop`

[2016-06-26 00:05] #510 closed

[2016-06-26 03:47] amadeus commented on #242
Closing this for now since I cannot reproduce the issue with the latest version of this project.

[2016-06-26 03:47] #242 closed

[2016-06-26 05:54] bounceme commented on #177
I have a few ideas about how to remove the dependency on the syntax file. I think this should only be in vim if the entire repo is entered as well, and that would end up being one of the most complex language bundles in vim. Not sure if this will happen

[2016-06-26 17:03] epaminond commented on #242
@amadeus, I'm using Vundle so I believe it's latest version available.

[2016-06-26 20:33] amadeus commented on #242
@epaminond when was the last time you updated your bundles though? You have to do that manually via `:PluginInstall(!)` (I think that's the command, I don't use Vundle.

[2016-06-26 20:41] epaminond commented on #242
@amadeus, I know, I did that.

[2016-06-26 21:32] bounceme commented on #242
template strings for what, some html tempting system or jsx? if so you'll need the vim jsx plugin or something like it since that isn't valid js, at least within a regular js file

[2016-06-26 21:33] amadeus commented on #242
@bounceme good point. I assumed he has the jsx plugin installed. I do, so everything works as expected.

[2016-06-26 22:59] amadeus commented on #242
Upon further tests, @epaminond I can see the issue is that you are editing in JSX syntax, but either you do not have the proper JSX plugin installed, or the filetype for that particular file is not set to `javascript.jsx`.

[2016-06-27 05:47] epaminond commented on #242
@amadeus, this worked for me, thanks a lot! :)

[2016-06-27 19:24] jeremija opened #514 "Chained methods are indented"
Hi there,

It looks like PR #385 broke the way I'm used to write chained function calls:

[code]

Instead, it's now forcing an indent:

[code]

Is there an easy way to bring back the old behavior without checking out an old commit before the PR?

Thanks!

[2016-06-27 20:52] bounceme commented on #514
https://github.com/pangloss/vim-javascript/issues/467

[2016-06-28 09:37] cireric commented on #514
HI,
current  (master & develop) when I write React component
[code]
instead, when indent Component property, it will be
[code]

when I use 8c56957, it no problem

[2016-06-28 13:17] smiechowy commented on #487
Yup, this is especially visible when using flow comment annotations
[code]
highlight after /*: string*/ is totally broken

[2016-06-28 16:21] amadeus commented on #487
@smiechowy we've recently added some experimental flow annotation support. Check the readme for details. It won't fix your comment annotation but it should support uncommented annotations

[2016-06-28 18:22] BlooJeans opened #516 "'Maybe' flow types break syntax highlighting"
On v1.1.3
Optional flow types (e.g. var foo: ?string = 'bar') will break the highlighting on subsequent lines.

Same result with both `let g:javascript_plugin_flow = 1` and `let g:javascript_plugin_flow = 0`

<img width="295" alt="screen shot 2016-06-28 at 14 15 27" src="https://cloud.githubusercontent.com/assets/1751182/16427410/33a2e958-3d3b-11e6-8608-67ea68d44f78.png">

[2016-06-28 18:35] gf3 opened #517 "Flow type value missing semi-colon terminator"
Example snippet:

[code]

can fix by changing:

[code]

to

[code]

[2016-06-28 18:44] gf3 opened #519 "Flow type missing `bool` primitive"
`jsFlowType` should include the `bool` primitive

[2016-06-28 18:44] amadeus commented on #517
#518 should fix this problem. But that branch also includes some bigger fixes as well, so it would be helpful for you to test that branch and see if I didn't cause any other inadvertent issues.

[2016-06-28 18:45] amadeus commented on #519
Should I remove `boolean` then? Or just add `bool`

[2016-06-28 18:45] amadeus commented on #516
This should be fixed in #518. Can you please check out that branch and test when you have a chance?

[2016-06-28 18:46] gf3 commented on #519
@amadeus both are legal

[2016-06-28 18:47] amadeus commented on #519
Added to that PR branch.

[2016-06-28 18:48] amadeus commented on #487
Since you've brought up this issue, I will look into adding fixes for these comments in the next day or so.

[2016-06-28 18:50] gf3 commented on #517
tested and fixed in #518

[2016-06-28 18:50] gf3 commented on #519
tested and fixed in #518

[2016-06-28 18:52] gf3 opened #520 "Flow: More granular syntax matching"
It'd be handy to have more granular syntax matches for both `jsFlowTypeStatement` and `jsFlowNoise` so that i could provide better highlighting similar to an object literal. Example comparison:

<img width="738" alt="screen shot 2016-06-28 at 2 53 08 pm" src="https://cloud.githubusercontent.com/assets/18397/16428455/f928671c-3d3f-11e6-98b8-e7c68b599e5a.png">

[2016-06-28 18:56] amadeus commented on #520
Yup, would love to get around to do doing this! I've only just begun to use Flow, so I don't know a whole lot about it or it's syntax structure so I was holding off until I was more familiar with it.

Some of the highlighting may already be possible, we just have to properly link the syntax groups.

If you have some ideas, perhaps you could contribute some changes. The way we do things here - bran

[2016-06-28 18:58] gf3 commented on #520
@amadeus i'll give it a shot. thank you so much for your amazing work on the flow highlighting

[2016-06-28 18:59] amadeus commented on #519
Fixed in `develop`

[2016-06-28 18:59] #519 closed

[2016-06-28 18:59] amadeus commented on #517
Fixed in `develop`

[2016-06-28 18:59] #517 closed

[2016-06-28 18:59] amadeus commented on #516
Fixed in `develop`

[2016-06-28 18:59] #516 closed

[2016-06-28 19:03] gf3 opened #521 "Adding flow types to a class definition prevents proper js highlighting"
When the type for the `state` property (`: State`) is added the method definition of `componentDidMount` changes from `jsClassFuncName` to `jsFuncCall`. Example snippet:

[code]

[2016-06-28 19:08] amadeus commented on #521
So this one will be a bit more complex to fix. We are going to need to create a new specialized jsFlow group that lives only in class statements and can provide a nextgroup of `jsClassValue`. We can't do that globally to `jsFlow` since that would break things. I have some ideas, but I won't be able to iterate on them right now.

[2016-06-28 19:13] gf3 commented on #521
ahh, sounds tricky. i have another example of the highlighting going a little strange, not sure if it's related to the issue above: https://gist.github.com/gf3/25522ed3f60e389cb01c

[2016-06-28 19:15] amadeus commented on #521
Ahh yeah, line 20, the `<R>` is throwing everything off

[2016-06-29 09:14] Illiux commented on #85
Same issue, using luochen1990/rainbow

[2016-06-29 10:12] em-yuanbo opened #522 "detect and highlight classname like funcname?"
i want  classname highlighted like funcname does.
how can i get it?

[2016-06-29 11:55] smiechowy commented on #487
Unfortunately I'm not using uncommented annotations in my current project, but one day it might come in handy.

Awesome, I'm looking forward to some results. Thanks for your hard work :)

[2016-06-29 13:59] BlooJeans opened #523 "[flow] function return types that span multiple lines break following syntax highlighting"
On the latest develop (ad5d09edff)

When you define a function with a return type that spans multiple lines, it breaks the rest of that functions syntax highlighting

Example:
[code]
<img width="289" alt="screen shot 2016-06-29 at 09 53 09" src="https://cloud.githubusercontent.com/assets/1751182/16454595/53afd7b6-3ddf-11e6-8100-1cdf02dc13a3.png">

- The same return type in a single line is fine (g

[2016-06-29 15:00] amadeus commented on #523
Sooo, coming up with the correct rules for this has been pretty tough. Right now all JS Flow statements using `:` are limited to one line.

I'd need to see the range of possibilities for these types of statements to figure out if I can allow them to be multiline or not. These ones are tough to figure out intent, so to speak.

[2016-06-29 16:13] amadeus commented on #85
See my comments in #184. This will probably never be fixed based on how our syntax file works.

[2016-06-29 16:17] amadeus commented on #522
Are you saying you want to change the color of `Example` in this snippet

[code]

to match the color of `Name` in this example:

[code]

[2016-06-29 16:36] markrian opened #524 "Incorrect indentation after multiline variable declaration with array or object"
Tested on latest develop ad5d09edfff3b15ac1c785796abb1705a0d64af6. This is the resulting indentation:
[code]
whereas I would expect this:
[code]
Bizarrely, a trailing comma in the object or array literal fixes the subsequent indentation:
[code]

[2016-06-29 17:27] bounceme commented on #524
my new p.r. #515  , if finished, will work in just about any situation regardless of keyword, comma etc. it also removes about 80% of the code

[2016-06-29 19:28] tomxtobin opened #525 "do expression support"
[`do` expressions][do-expressions] aren't (quite) supported.

They sort-of work because of support for `do/while` loops, but the highlighting breaks down in certain cases.

In particular, they're highlighted incorrectly inside array and object literals.

Examples:

[code]

Granted, `do` expressions are at stage 0, but Babel does support them with an official plugin, and I've seen support added to

[2016-06-29 20:12] laughinghan commented on #184
@caleb's workaround worked for me; I also improved on it so that not just the function body braces are correctly highlighted, but also the function parameter parens are:

[code]

[2016-06-29 20:15] laughinghan commented on #85
Y'all may also be interested in the workaround mentioned in #184:
[code]

Apparently it breaks `vim-javascript`'s code folding feature, but I wouldn't know, I don't use it.

[2016-06-29 20:19] amadeus commented on #85
@laughinghan that command will pretty much break most of the syntax highlighting if you do that, btw.

[2016-06-29 20:29] laughinghan commented on #85
What kinds of things should break? Looks fine to me:
<img width="277" alt="screen shot 2016-06-29 at 16 29 18" src="https://cloud.githubusercontent.com/assets/225809/16467727/9ce4c310-3e16-11e6-8dc0-a42c408f3db6.png">

[2016-06-29 20:35] laughinghan commented on #184
I totally appreciate this, but the thing is, `vim-javascript` appears to be the only language highlighter with this problem. This suggests that to the extent that a rough consensus interpretation exists for how to approach matching the syntax, the various rainbow paren highlighters mentioned are all conforming to the consensus, as are the other language highlighters, whereas `vim-javascript` isn't

[2016-06-29 20:40] amadeus commented on #184
Code folding is the least of it. It has to do with code detection accuracy, and the complications that have arisen out of new JS functionality added in ES6 and ES7. Basically the problem arises because we have very specialized detection of syntax regions, and because of this, we create a variety of scopes to actually properly map valid JS where it's appropriate. To my knowledge, most other syntax

[2016-06-29 20:40] laughinghan commented on #184
In #85, @amadeus noted about the workaround @caleb and I are using:

What kinds of things should break? Looks fine to me:
<img width="277" alt="screen shot 2016-06-29 at 16 29 18" src="https://cloud.githubusercontent.com/assets/225809/16467727/9ce4c310-3e16-11e6-8dc0-a42c408f3db6.png">